<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-AU" lang="en-AU">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Apply for a protection order | Your rights, crime and the law | Queensland Government</title>

<!--#set var="franchise" value="law"-->
<!--#set var="title" value="Apply for a protection order"-->
<!--#include virtual="/assets/includes/global/head-assets-styles.html"-->
<!-- PUT CUSTOM STYLES HERE -->
<link rel="stylesheet" href="/assets/wireframe.css" />

<!--#include virtual="/assets/includes/global/head-assets-scripts.html"-->
<!-- PUT CUSTOM SCRIPTS THAT CANNOT BE DEFERRED HERE (see footer) -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>


	<meta name="description" content="Step-by-step guide to apply for protection from domestic violence." />
	<meta name="keywords" content="protection, abuse, family violence, restraining order, protection order, violence intervention order, apprehended violence order" />

	<link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" />
	<link rel="schema.AGLSTERMS" href="http://www.agls.gov.au/agls/terms/" />

	<meta name="DCTERMS.creator" scheme="AGLSTERMS.GOLD" content="c=AU; o=The State of Queensland; ou=Department of Justice and Attorney-General; ou=Justice Services" />
	<meta name="DCTERMS.publisher" scheme="AGLSTERMS.AglsAgent" content="corporateName=The State of Queensland; jurisdiction=Queensland" />
	<meta name="DCTERMS.created" content="2016-01-18" />
	<meta name="DCTERMS.modified" content="2016-01-18" />
	<meta name="DCTERMS.title" content="Apply for a protection order | Your rights, crime and the law" />
	<meta name="DCTERMS.description" content="Step-by-step guide to apply for protection from domestic violence." />
	<meta name="DCTERMS.subject" scheme="AGLSTERMS.APAIS" content="Domestic Violence" />
	<meta name="AGLSTERMS.function" scheme="AGLSTERMS.AGIFT" content="JUSTICE ADMINISTRATION - Human rights obligations" />
<!--#include virtual="/assets/includes/global/head-meta-identifier.html"-->
	<meta name="DCTERMS.type" scheme="DCTERMS.DCMIType" content="Text" />
	<meta name="AGLSTERMS.documentType" scheme="AGLSTERMS.agls-document" content="form" />
	<meta name="DCTERMS.audience" scheme="AGLSTERMS.agls-audience" content="women; Aboriginal and Torres Strait Islanders; seniors; migrants; men; Queensland" />
	<meta name="DCTERMS.jurisdiction" scheme="AGLSTERMS.AglsJuri" content="Queensland" />
</head>

<body id="qld-gov-au" class="residents">

<!--#include virtual="/assets/includes/global/header.html"-->

	<div id="page-container"><div class="max-width">
		<div id="breadcrumbs">
			<h2>You are here:</h2>
			<ol>
<!--#include virtual="/assets/includes/global/breadcrumb-citizen.html"-->
				<li><a href="/law/">Your rights, crime and the law</a></li>
				<li><a href="/law/crime-and-police/">Crime and police</a></li>
				<li><a href="/law/crime-and-police/abuse-family-matters-and-protection-orders/">Abuse, family matters and protection orders</a></li>
				<li><a href="/law/crime-and-police/abuse-family-matters-and-protection-orders/domestic-violence-orders/">Domestic violence orders</a></li>
				<li class="last-child">Apply for a protection order</li>
			</ol>
		</div>

		<div id="content-container" ng-app ng-init="state.page = 1">
			<div id="content">

				<div class="article"><div class="box-sizing"><div class="border">

<!--#include virtual="/assets/includes/global/global-alert.html"-->

					<h1>Apply for a protection order</h1>

<!--#include virtual="/assets/includes/global/page-options-pre.html"-->

					<div class="preamble status info">
						<h2>Before you begin</h2>
						<ul>
							<li>We will ask questions about your situation — what happened and when — what protection you need. This online interview can take an hour or more to complete.</li>
							<li>At the end, you will have the necessary forms to take to court. Protection orders may take up to 4 weeks. We will ask if you need a <dfn>temporary protection order</dfn> to protect you while waiting for the court to hear your case.</li>
							<li>You can apply yourself. You can also ask a friend or lawyer to apply on your behalf. In some situations, the police may apply for you.</li>
						</ul>
					</div>

					<form>
					<div class="status warn">
						<h2>Is your web browsing safe?</h2>
						<p>Someone may be able to tell you visited this web page.</p>
						<ol class="questions">
							<li>
								<fieldset>
									<legend>
										<span class="label">Could someone spy on web pages you visit?</span>
										<abbr title="(required)" class="required">*</abbr>
									</legend>
									<ul class="choices">
										<li>
											<input type="radio" name="could-someone-spy-on-web-pages-you-visit" value="Yes" required="required" id="could-someone-spy-on-web-pages-you-visit-yes-i-do-not-feel-safe" />
											<label for="could-someone-spy-on-web-pages-you-visit-yes-i-do-not-feel-safe">Yes — I do not feel safe</label>
										</li>
										<li>
											<input type="radio" name="could-someone-spy-on-web-pages-you-visit" value="No" required="required" id="could-someone-spy-on-web-pages-you-visit-no-i-am-confident-this-is-private" />
											<label for="could-someone-spy-on-web-pages-you-visit-no-i-am-confident-this-is-private">No — I am confident this is private</label>
										</li>
										<li>
											<input type="radio" name="could-someone-spy-on-web-pages-you-visit" value="I don't know" required="required" id="could-someone-spy-on-web-pages-you-visit-i-don-t-know" />
											<label for="could-someone-spy-on-web-pages-you-visit-i-don-t-know">I don't know</label>
										</li>
									</ul>
								</fieldset>
							</li>
							<li>
								<p>
									<small class="hint relevance">(If you chose ‘Yes’ above)</small>
								</p>
								<div class="status info">
									<h2>Protect yourself online</h2>
									<ol>
										<li>Learn about <a href="#">safe browsing habits</a></li>
										<li>Leave this web page and <a href="#">clear your browser history</a></li>
									</ol>
								</div>
							</li>
						</ol>
					</div>
					</form>

					<form class="form" ng-submit="state.page = 2">
						<ol class="questions">

							<li>
								<fieldset>
									<legend>
										<span class="label">Are you in immediate danger?</span>
										<abbr title="(required)" class="required">*</abbr>
										<small class="hint">If someone could hurt you while you are answering this form you should call the police. Police can provide immediate assistance and apply for a protection order for you.</small>
									</legend>
									<ul class="choices">
										<li>
											<input type="radio" name="are-you-in-immediate-danger" value="Yes — call 000 on your phone now" required="required" id="are-you-in-immediate-danger-yes-call-000-on-your-phone-now" />
											<label for="are-you-in-immediate-danger-yes-call-000-on-your-phone-now">Yes — call 000 and ask for police</label>
										</li>
										<li>
											<input type="radio" name="are-you-in-immediate-danger" value="I don't know — contact DVConnect" required="required" id="are-you-in-immediate-danger-i-don-t-know-contact-dvconnect" />
											<label for="are-you-in-immediate-danger-i-don-t-know-contact-dvconnect">I don't know — contact DVConnect</label>
										</li>
										<li>
											<input type="radio" name="are-you-in-immediate-danger" value="It is safe for me to fill out this form (it could take an hour or longer)" required="required" id="are-you-in-immediate-danger-it-is-safe-for-me-to-fill-out-this-form-it-could-take-an-hour-or-longer" />
											<label for="are-you-in-immediate-danger-it-is-safe-for-me-to-fill-out-this-form-it-could-take-an-hour-or-longer">It is safe for me to fill out this form (it could take an hour or longer)</label>
										</li>
									</ul>
								</fieldset>
							</li>


							<li>
								<fieldset>
									<legend>
										<span class="label">What is your name?</span>
									</legend>
									<ol class="questions compact">
										<li>
											<label for="applicant-name-given">
												<span class="label">Given name</span>
												<abbr class="required" title="(required)">*</abbr>
											</label>
											<input name="applicant-name-given" size="15" required="required" type="text" ng-model="applicant.name.given" id="applicant-name-given" />
										</li>
										<li>
											<label for="applicant-name-family">
												<span class="label">Family name</span>
												<abbr class="required" title="(required)">*</abbr>
											</label>
											<input name="applicant-name-family" size="15" required="required" type="text" id="applicant-name-family" />
										</li>
									</ol>
								</fieldset>
							</li>

							<li>
								<ul class="actions">
									<li><strong><button>Continue</button></strong></li>
								</ul>
							</li>
						</ol>
					</form>

					<form class="form" ng-hide="state.page != 2">
						<ol class="questions">
							<li>
								<fieldset>
									<legend>
										<span class="label">{{applicant.name.given}}, do you need protection?</span>
										<abbr title="(required)" class="required">*</abbr>
									</legend>
									<ul class="choices">
										<li>
											<input type="radio" ng-model="applicant.isAggrieved" ng-value="true" ng-click="bakAggrieved = aggrieved; aggrieved = applicant" required="required" id="applicant.isAggrieved-true" />
											<label for="applicant.isAggrieved-true">Yes</label>
										</li>
										<li>
											<input type="radio" ng-model="applicant.isAggrieved" ng-value="false" ng-click="aggrieved = bakAggrieved" required="required" id="applicant.isAggrieved-false" />
											<label for="applicant.isAggrieved-false">No, I am applying for someone else</label>
										</li>
									</ul>
								</fieldset>
							</li>

							<li ng-show="applicant.isAggrieved === false">
								<fieldset>
									<legend>
										<span class="label">Tell us the name of the person who needs protection</span>
									</legend>
									<ol class="questions compact">
										<li>
											<label for="aggrieved-name-given">
												<span class="label">Given name</span>
												<abbr class="required" title="(required)">*</abbr>
											</label>
											<input name="aggrieved-name-given" size="15" required="required" type="text" ng-model="aggrieved.name.given" id="aggrieved-name-given" />
										</li>
										<li>
											<label for="aggrieved-name-family">
												<span class="label">Family name</span>
												<abbr class="required" title="(required)">*</abbr>
											</label>
											<input name="aggrieved-name-family" size="15" required="required" type="text" id="aggrieved-name-family" />
										</li>
									</ol>
								</fieldset>
							</li>

							<li ng-if="applicant.isAggrieved">
								<input type="hidden" ng-model="aggrieved.name.given" ng-value="applicant.name.given" />
								<input type="hidden" ng-model="aggrieved.name.family" ng-value="applicant.name.family" />
							</li>

							<li>
								<div class="status info">
									<h2>Applicant is aggrieved? {{ applicant.isAggrieved }}</h2>
									<dl>
										<dt>Applicant</dt>
										<dd>{{applicant.name.given}}</dd>

										<dt>Aggrieved</dt>
										<dd>{{aggrieved.name.given}}</dd>

										<dt>Old aggrieved</dt>
										<dd>{{bakAggrieved.name.given}}</dd>
									</dl>
								</div>
							</li>


							<li class="footer">
								<ul class="actions">
									<li><strong><input type="submit" value="Apply now" /></strong></li>
									<li><a href="#">Cancel</a></li>
								</ul>
							</li>
						</ol>
					</form>


				</div></div></div><!-- end .article, .box-sizing, .border -->
			</div><!-- end #content -->

			<div id="asides"><div class="box-sizing"><div class="border">
				<!--#include virtual="/assets/includes/global/global-aside.html"-->

				<!--#include virtual="/assets/includes/global/aside-contact-qgov.html"-->

				<div class="aside login">
					<h2>Done this before?</h2>
					<p>If you have used this service before, <a href="#">log in</a>.</p>
				</div>

				<div class="aside">
					<p>Download the following <a href="../../docs/cue-template-change-log.doc" class="download">
						<span class="title">Downloadable document</span>
						<span class="meta">(DOC, 72KB)</span>
					</a></p>
				</div>

				<div class="aside">
					<h2>Not now, not ever</h2>
					<blockquote><p>“Let us together send a message to Queenslanders – not now, not ever – we must eliminate domestic and family violence in our community.”</p></blockquote>
				</div>

			</div></div></div><!-- end #asides, .box-sizing, .border -->

			<div id="meta-wrapper"><div class="meta-box-sizing"><div class="border">

				<div id="document-properties"><div class="box-sizing">
					<dl>
						<dt>Last updated</dt>
						<dd>18 January 2016</dd>
					</dl>
				</div></div>

<!--#include virtual="/assets/includes/global/page-options-post.html"-->

			</div></div></div><!-- end #meta-wrapper, .meta-box-sizing, .border -->

		</div><!-- end #content-container -->

		<div id="nav-section">
			<div class="box-sizing">
				<h2><a href="/law/crime-and-police/abuse-family-matters-and-protection-orders">Abuse, family matters and protection orders</a></h2>
				<ul>
					<li><a href="http://www.qld.gov.au/community/getting-support-health-social-issue/domestic-family-violence/">Domestic violence</a></li>
					<li><a href="/law/crime-and-police/abuse-family-matters-and-protection-orders/domestic-violence-orders/">Domestic violence orders</a></li>
					<li class="current-page"><a href="/law/crime-and-police/abuse-family-matters-and-protection-orders/domestic-violence-orders/apply-online/">Apply for a protection order</a></li>
					<li><a href="/law/crime-and-police/abuse-family-matters-and-protection-orders/child-custody/">Child custody and parenting arrangements</a></li>
					<li><a href="/law/crime-and-police/abuse-family-matters-and-protection-orders/child-protection-orders/">Child Protection orders</a></li>
				</ul>
			</div>
		</div>

	</div></div><!-- end #page-container, .max-width -->

<!--#include virtual="/assets/includes/global/footer-page.html"-->

</body>
</html>
