<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-AU" lang="en-AU">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Apply for a protection order | Your rights, crime and the law | Queensland Government</title>


	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width" />

    <!--[if (lt IE 9)|(gt IE 10) ]><link href="//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if !IE]><!--><link href="//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css" /><!--<![endif]-->
    <link rel="stylesheet" type="text/css" href="https://static.qgov.net.au/assets/v2/style/qgov.css" media="all" />
	<!--[if lt IE 9]><link rel="stylesheet" href="https://static.qgov.net.au/assets/v2/style/qgov-ie.css" type="text/css" media="all" /><![endif]-->
	<!-- layout-small is assumed by default (combined with qgov.css) -->
	<link href="https://static.qgov.net.au/assets/v2/style/layout-medium.css" media="only all and (min-width: 640px) and (max-width: 980px)" rel="stylesheet" type="text/css" />
	<link href="https://static.qgov.net.au/assets/v2/style/layout-large.css" media="only all and (min-width: 980px)" rel="stylesheet" type="text/css" />
	<link href="https://static.qgov.net.au/assets/v2/style/jquery-ui-qgov.css" media="all" rel="stylesheet" type="text/css" />

	<link rel="shortcut icon" href="https://static.qgov.net.au/assets/v2/images/skin/favicon.ico" />
	<meta prefix="og:http://ogp.me/ns#" property="og:image" content="https://static.qgov.net.au/assets/v2/images/skin/qg-coa-ogp.png" />

<!-- PUT CUSTOM STYLES HERE -->
<link rel="stylesheet" href="assets/beta.css">
<link rel="stylesheet" href="assets/wireframe.css">
<link rel="stylesheet" href="assets/dv1.css">
<link rel="stylesheet" href="http://bboyle.github.io/quick-exit/dist/quick-exit.min.css" />

<!-- Grab Google CDN's jQuery. Fall back to local copy if necessary -->
<!--[if gt IE 8]><!-->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript"><!-- //
	!window.jQuery && document.write(unescape('%3Cscript src="https://static.qgov.net.au/assets/v2/script/jquery-2.1.3.min.js"%3E%3C/script%3E'));
// --></script>
<!--<![endif]-->
<!--[if lt IE 9]>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">!window.jQuery && document.write(unescape('%3Cscript src="https://static.qgov.net.au/assets/v2/script/jquery-1.11.2.min.js"%3E%3C/script%3E'));</script>
<![endif]-->

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script type="text/javascript"><!-- //
	window.jQuery && !window.jQuery.ui && document.write(unescape('%3Cscript src="https://static.qgov.net.au/assets/v2/script/jquery-ui-1.11.2-min.js"%3E%3C/script%3E'));
// --></script>
<script type="text/javascript" src="https://static.qgov.net.au/assets/v2/script/qgov-environment.js" id="qgov-environment"></script>
<!--[if lt IE 9]>
<script type="text/javascript">document.createElement('abbr');document.createElement('time');</script>
<script type="text/javascript" src="https://static.qgov.net.au/assets/v2/script/ie-layout.js"></script>
<![endif]-->

<!-- PUT CUSTOM SCRIPTS THAT CANNOT BE DEFERRED HERE (see footer) -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="assets/dv1.js"></script>


	<meta name="description" content="Step-by-step guide to apply for protection from domestic violence.">
	<meta name="keywords" content="protection, abuse, family violence, restraining order, protection order, violence intervention order, apprehended violence order">

	<link rel="schema.DCTERMS" href="http://purl.org/dc/terms/">
	<link rel="schema.AGLSTERMS" href="http://www.agls.gov.au/agls/terms/">

	<meta name="DCTERMS.creator" scheme="AGLSTERMS.GOLD" content="c=AU; o=The State of Queensland; ou=Department of Justice and Attorney-General; ou=Justice Services">
	<meta name="DCTERMS.publisher" scheme="AGLSTERMS.AglsAgent" content="corporateName=The State of Queensland; jurisdiction=Queensland">
	<meta name="DCTERMS.created" content="2016-01-18">
	<meta name="DCTERMS.modified" content="2016-01-22">
	<meta name="DCTERMS.title" content="Apply for a protection order | Your rights, crime and the law">
	<meta name="DCTERMS.description" content="Step-by-step guide to apply for protection from domestic violence.">
	<meta name="DCTERMS.subject" scheme="AGLSTERMS.APAIS" content="Domestic Violence">
	<meta name="AGLSTERMS.function" scheme="AGLSTERMS.AGIFT" content="JUSTICE ADMINISTRATION - Human rights obligations">
	<meta name="DCTERMS.type" scheme="DCTERMS.DCMIType" content="Text">
	<meta name="AGLSTERMS.documentType" scheme="AGLSTERMS.agls-document" content="form">
	<meta name="DCTERMS.audience" scheme="AGLSTERMS.agls-audience" content="women; Aboriginal and Torres Strait Islanders; seniors; migrants; men; Queensland">
	<meta name="DCTERMS.jurisdiction" scheme="AGLSTERMS.AglsJuri" content="Queensland">
</head>

<body ng-app="dv1" ng-init="beta = true;" ng-class="{ beta: beta }">


<a id="quick-exit" target="_top" href="http://www.google.com/" accesskey="q">Quick exit ➟</a>
<script src="http://bboyle.github.io/quick-exit/dist/quick-exit.min.js"></script>


	<header class="beta-warning" ng-click="beta = false">
		<strong>Under construction</strong>.
		If you require assistance with domestic violence in Queensland please visit <a href="http://www.qld.gov.au/community/getting-support-health-social-issue/domestic-family-violence/">http://www.qld.gov.au/community/getting-support-health-social-issue/domestic-family-violence/</a>

		(<button type="button" ng-click="beta = false">Close this message</button>)
	</header>




<article ng-controller="InterviewController as interview">

	<h1>Apply for a protection order</h1>


	<div class="preamble status info">
		<h2>Before you begin</h2>
		<ul>
			<li>We will ask questions about your situation — what happened and when — what protection you need. This online interview can take an hour or more to complete.</li>
			<li>At the end, you will have the necessary forms to take to court. Protection orders may take 4 weeks or longer. We will ask if you need a <dfn>temporary protection order</dfn> to protect you while waiting for the court to hear your case.</li>
			<li>You can apply yourself. You can also ask a friend or lawyer to apply on your behalf. In some situations, the police may apply for you.</li>
		</ul>
	</div>

	<form>
	<div class="status warn">
		<h2>Is your web browsing safe?</h2>
		<p>Someone may be able to tell you visited this web page.</p>
		<ol class="questions">
			<li>
				<fieldset>
					<legend>
						<span class="label">Is it safe for you to fill out this form?</span>
						<abbr title="(required)" class="required">*</abbr>
					</legend>
					<ul class="choices">
						<li>
							<input type="radio" ng-model="interview.safe" value="No" required id="interview-is-safe-no">
							<label for="interview-is-safe-no">No — someone could spy on my web browser</label>
						</li>
						<li>
							<input type="radio" ng-model="interview.safe" value="Not sure" required id="interview-is-safe-not-sure">
							<label for="interview-is-safe-not-sure">Not sure</label>
						</li>
						<li>
							<input type="radio" ng-model="interview.safe" value="Yes" required id="interview-is-safe-yes">
							<label for="interview-is-safe-yes">Yes — this computer is completely safe</label>
						</li>
					</ul>
				</fieldset>
			</li>
			<li ng-show="interview.safe === 'No'">
				<p>
					<small class="hint">(If you chose ‘Yes’ above)</small>
				</p>
				<div class="status info">
					<h2>Protect yourself online</h2>
					<ol>
						<li>Learn about <a href="#">safe browsing habits</a></li>
						<li>Leave this web page and <a href="#">clear your browser history</a></li>
					</ol>
				</div>
			</li>
			<li ng-show="interview.safe === 'Not sure'">
				<p>
					<small class="hint">(If you chose ‘Not sure’ above)</small>
				</p>
				<div class="status info">
					<h2>Different ways to apply for protection</h2>
					<ul>
						<li>contact Queensland Police</li>
						<li>contact DVConnect</li>
						<li>from a computer at a public library</li>
						<li>from a computer or tablet at a friend of family home</li>
						<li>in person, at a Queensland Magistrates Court</li>
						<li>from a safe smartphone (e.g. <a href="http://wesnet.org.au/home2/projects/telstra-safe-connections-project/">Safe Connections</a></li>
					</ul>

					<h3>Continue applying</h3>
					<ul>
						<li>switch to a <a href="#">private browsing session</a></li>
						<li>clear your browser history</li>
						<li>take note of the <em>Quick Exit</em> button on the side of the screen. Use this if you need to quickly exit the site.</li>
					</ul>

					<h3>Save and continue later</h3>
					<ul>
						<li>Would you like to setup save and continue later?</li>
						<li>We can email your application to a trusted email address: your own, a friend, family or a service provider</li>
						<li>We can save your responses on this computer which you can access again using a safe word</li>
					</ul>
				</div>
			</li>
		</ol>
	</div>
	</form>

	<form class="form" ng-submit="interview.completePreamble()" ng-show="interview.safe === 'Yes'">
		<ol class="questions">

			<li>
				<fieldset>
					<legend>
						<span class="label">Are you in immediate danger?</span>
						<abbr title="(required)" class="required">*</abbr>
						<small class="hint">If someone could hurt you while you are answering this form you should call the police. Police can provide immediate assistance and apply for a protection order for you.</small>
					</legend>
					<ul class="choices">
						<li>
							<input type="radio" name="applicant-danger" ng-model="interview.applicantInDanger" value="yes" required id="applicant-danger-yes">
							<label for="applicant-danger-yes">Yes — call 000 and ask for police</label>
						</li>
						<li>
							<input type="radio" name="applicant-danger" ng-model="interview.applicantInDanger" value="maybe" required id="applicant-danger-dunno">
							<label for="applicant-danger-dunno">I don't know — contact DVConnect</label>
						</li>
						<li>
							<input type="radio" name="applicant-danger" ng-model="interview.applicantInDanger" value="no" required id="applicant-danger-no">
							<label for="applicant-danger-no">It is safe for me to fill out this form (it could take an hour or longer)</label>
						</li>
					</ul>
				</fieldset>
			</li>


			<li ng-show="interview.applicantInDanger === 'no'">
				<fieldset>
					<legend>
						<span class="label">What is your name?</span>
					</legend>
					<ol class="questions compact">
						<li>
							<label for="applicant-name-given">
								<span class="label">Given name</span>
								<abbr class="required" title="(required)">*</abbr>
							</label>
							<input ng-model="interview.applicant.name.given" size="15" required type="text" id="applicant-name-given">
						</li>
						<li>
							<label for="applicant-name-family">
								<span class="label">Family name</span>
								<abbr class="required" title="(required)">*</abbr>
							</label>
							<input ng-model="interview.applicant.name.family" size="15" required type="text" id="applicant-name-family">
						</li>
					</ol>
				</fieldset>
			</li>

			<li>
				<ul class="actions">
					<li><strong><button>Continue</button></strong></li>
				</ul>
			</li>
		</ol>
	</form>

	<form class="form" ng-hide="interview.page != 2">
		<ol class="questions">
			<li>
				<fieldset>
					<legend>
						<span class="label">{{interview.applicant.name.given}}, do you need protection?</span>
						<abbr title="(required)" class="required">*</abbr>
					</legend>
					<ul class="choices">
						<li>
							<input type="radio" name="applicant-is-aggrieved" ng-model="interview.applicantIsAggrieved" ng-value="true" required id="applicant-is-aggrieved" ng-change="interview.checkApplicant()">
							<label for="applicant-is-aggrieved">Yes</label>
						</li>
						<li>
							<input type="radio" name="applicant-is-aggrieved" ng-model="interview.applicantIsAggrieved" ng-value="false" required id="applicant-is-not-aggrieved" ng-change="interview.checkApplicant()">
							<label for="applicant-is-not-aggrieved">No, I am applying for someone else</label>
						</li>
					</ul>
				</fieldset>
			</li>

			<li ng-show="interview.applicantIsAggrieved === false">
				<fieldset>
					<legend>
						<span class="label">Tell us the name of the person who needs protection</span>
					</legend>
					<ol class="questions compact">
						<li>
							<label for="aggrieved-name-given">
								<span class="label">Given name</span>
								<abbr class="required" title="(required)">*</abbr>
							</label>
							<input size="15" required type="text" ng-model="interview.aggrieved.name.given" id="aggrieved-name-given">
						</li>
						<li>
							<label for="aggrieved-name-family">
								<span class="label">Family name</span>
								<abbr class="required" title="(required)">*</abbr>
							</label>
							<input size="15" required type="text" ng-model="interview.aggrieved.name.family" id="aggrieved-name-family">
						</li>
					</ol>
				</fieldset>
			</li>

			<li ng-show="interview.aggrieved.name.given" ng-if="! interview.applicantIsAggrieved">
				<div class="status info">
					<h2>You are the applicant</h2>
					<p>You are applying for a protection order on behalf of someone else.</p>
				</div>
			</li>
			<li ng-show="interview.aggrieved.name.given">
				<div class="status info">
					<h2>{{ interview.applicantIsAggrieved ? 'You are' : interview.aggrieved.name.given + ' is' }} the “aggrieved”</h2>
					<p>The <dfn>aggrieved</dfn> is the person who needs protection.</p>
					<p ng-if="interview.applicantIsAggrieved">You are also the <dfn>applicant</dfn>—you are applying for protection for yourself.</p>
				</div>
			</li>

			<li ng-show="interview.aggrieved.name.given">
				<fieldset>
					<legend>
						<span ng-if="interview.applicantIsAggrieved" class="label">Who do you need protection from?</span>
						<span ng-if="! interview.applicantIsAggrieved" class="label">Who does {{ interview.aggrieved.name.given }} need protection from?</span>
					</legend>
					<ol class="questions compact">
						<li>
							<label for="respondent-name-given">
								<span class="label">Given name</span>
								<abbr class="required" title="(required)">*</abbr>
							</label>
							<input size="15" required type="text" ng-model="interview.respondent.name.given" ng-change="interview.saveRespondent()" id="respondent-name-given">
						</li>
						<li>
							<label for="respondent-name-family">
								<span class="label">Family name</span>
								<abbr class="required" title="(required)">*</abbr>
							</label>
							<input size="15" required type="text" ng-model="interview.respondent.name.family" ng-change="interview.saveRespondent()" id="respondent-name-family">
						</li>
					</ol>
				</fieldset>
			</li>

			<li ng-show="interview.respondent.name.given">
				<div class="status info">
					<h2>{{ interview.respondent.name.given }} is the “respondent”</h2>
					<p>The <dfn>respondent</dfn> is the person {{ interview.applicantIsAggrieved ? 'you want' : interview.aggrieved.name.given + ' wants' }} to be protected from.</p>
				</div>
			</li>

			<li class="footer">
				<ul class="actions">
					<li><strong><input type="submit" value="Primary action"></strong></li>
					<li><a href="#">Cancel</a></li>
				</ul>
			</li>
		</ol>
	</form>

</article>

<article ng-controller="DV1FormController as dv1">
	<nav>
		<button type="button" ng-class="{active: dv1.view.gazette}"   ng-click="dv1.showGazettedForm()">Gazetted form</button>
		<button type="button" ng-class="{active: ! dv1.view.gazette}" ng-click="dv1.showNames()">Real names</button>
	</nav>

	<header>
		<h1>FORM FV1</h1>
		<p><cite>Domestic and Family Violence Protection Act 2012 (s.32)</cite></p>

		<h1>Application for a Protection Order</h1>
		<p>Please note: A copy of this application will be given to the
			<var ng-if="dv1.view.gazette" class="respondent">respondent</var>
			<var ng-if="! dv1.view.gazette" class="respondent">{{ dv1.respondent.name.given }}</var>
		</p>
	</header>

	<section>
		<h2>1. <var class="aggrieved">{{ dv1.aggrieved.name.given }}</var>'s details</h2>
	</section>

	<section>
		<h2>2. <var class="respondent">{{ dv1.respondent.name.given }}</var>'s details</h2>
	</section>

	<section ng-hide="dv1.aggrievedIsApplicant">
		<h2 ng-if="dv1.view.gazette">3. <var class="applicant">Applicant's</var> details</h2>
		<h2 ng-if="! dv1.view.gazette">3. <var class="applicant">Your</var> details</h2>

		<h3 ng-if="dv1.view.gazette">PART A – A person being authorised by the <var class="aggrieved">{{ dv1.aggrieved.name.given }}</var></h3>
		<h3 ng-if="! dv1.view.gazette">PART A – I am authorised by <var class="aggrieved">{{ dv1.aggrieved.name.given }}</var></h3>

		<h3 ng-if="dv1.view.gazette">PART B – A person acting under another Act for the <var class="aggrieved">{{ dv1.aggrieved.name.given }}</var></h3>
		<h3 ng-if="! dv1.view.gazette">PART B – I am acting under another Act for <var class="aggrieved">{{ dv1.aggrieved.name.given }}</var></h3>

		<h3>PART C – A Police Officer</h3>

		<h3 ng-if="dv1.view.gazette">PART D – A party to a child protection proceeding</h3>
		<h3 ng-if="! dv1.view.gazette">PART D – I am party to a child protection proceeding</h3>
	</section>

	<section ng-show="dv1.aggrievedIsApplicant">
		<h2 ng-if="dv1.view.gazette">3. <var class="applicant">Applicant's</var> details</h2>
		<h2 ng-if="! dv1.view.gazette">3. <var class="applicant">Your</var> details</h2>

		<p>Your details have been entered in Section 1. You do not need to repeat them here.</p>
	</section>


</article>




<div id="scripts">
<script type="text/javascript" src="https://static.qgov.net.au/assets/v2/script/loader.js"></script>
<script type="text/javascript" src="https://static.qgov.net.au/assets/v2/script/init.js"></script>
</div>

</body>
</html>
