<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-AU" lang="en-AU">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Apply for a protection order | Your rights, crime and the law | Queensland Government</title>


	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width">

	<!--[if (lt IE 9)|(gt IE 10) ]><link href="//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css"><![endif]-->
	<!--[if !IE]><!--><link href="//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css"><!--<![endif]-->
	<link rel="stylesheet" type="text/css" href="https://static.qgov.net.au/assets/v2/style/qgov.css" media="all">
	<!--[if lt IE 9]><link rel="stylesheet" href="https://static.qgov.net.au/assets/v2/style/qgov-ie.css" type="text/css" media="all"><![endif]-->
	<!-- layout-small is assumed by default (combined with qgov.css) -->
	<link href="https://static.qgov.net.au/assets/v2/style/layout-medium.css" media="only all and (min-width: 640px) and (max-width: 980px)" rel="stylesheet" type="text/css">
	<link href="https://static.qgov.net.au/assets/v2/style/layout-large.css" media="only all and (min-width: 980px)" rel="stylesheet" type="text/css">
	<link href="https://static.qgov.net.au/assets/v2/style/jquery-ui-qgov.css" media="all" rel="stylesheet" type="text/css">

	<link rel="shortcut icon" href="https://static.qgov.net.au/assets/v2/images/skin/favicon.ico">
	<meta prefix="og:http://ogp.me/ns#" property="og:image" content="https://static.qgov.net.au/assets/v2/images/skin/qg-coa-ogp.png">

<!-- PUT CUSTOM STYLES HERE -->
<link rel="stylesheet" href="assets/wireframe.css">
<link rel="stylesheet" href="assets/dv1.css">
<link rel="stylesheet" href="http://bboyle.github.io/quick-exit/dist/quick-exit.min.css">

<!-- Grab Google CDN's jQuery. Fall back to local copy if necessary -->
<!--[if gt IE 8]><!-->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript"><!-- //
	!window.jQuery && document.write(unescape('%3Cscript src="https://static.qgov.net.au/assets/v2/script/jquery-2.1.3.min.js"%3E%3C/script%3E'));
// --></script>
<!--<![endif]-->
<!--[if lt IE 9]>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">!window.jQuery && document.write(unescape('%3Cscript src="https://static.qgov.net.au/assets/v2/script/jquery-1.11.2.min.js"%3E%3C/script%3E'));</script>
<![endif]-->

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script type="text/javascript"><!-- //
	window.jQuery && !window.jQuery.ui && document.write(unescape('%3Cscript src="https://static.qgov.net.au/assets/v2/script/jquery-ui-1.11.2-min.js"%3E%3C/script%3E'));
// --></script>
<script type="text/javascript" src="https://static.qgov.net.au/assets/v2/script/qgov-environment.js" id="qgov-environment"></script>
<!--[if lt IE 9]>
<script type="text/javascript">document.createElement('abbr');document.createElement('time');</script>
<script type="text/javascript" src="https://static.qgov.net.au/assets/v2/script/ie-layout.js"></script>
<![endif]-->

<!-- PUT CUSTOM SCRIPTS THAT CANNOT BE DEFERRED HERE (see footer) -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="assets/dv1-app.js"></script>
<script src="assets/dv1-language-chooser.js"></script>
<script src="assets/dv1-interview.js"></script>
<script src="assets/dv1-forms.js"></script>


	<meta name="description" content="Step-by-step guide to apply for protection from domestic violence.">
	<meta name="keywords" content="protection, abuse, family violence, restraining order, protection order, violence intervention order, apprehended violence order">

	<link rel="schema.DCTERMS" href="http://purl.org/dc/terms/">
	<link rel="schema.AGLSTERMS" href="http://www.agls.gov.au/agls/terms/">

	<meta name="DCTERMS.creator" scheme="AGLSTERMS.GOLD" content="c=AU; o=The State of Queensland; ou=Department of Justice and Attorney-General; ou=Justice Services">
	<meta name="DCTERMS.publisher" scheme="AGLSTERMS.AglsAgent" content="corporateName=The State of Queensland; jurisdiction=Queensland">
	<meta name="DCTERMS.created" content="2016-01-18">
	<meta name="DCTERMS.modified" content="2016-02-01">
	<meta name="DCTERMS.title" content="Apply for a protection order | Your rights, crime and the law">
	<meta name="DCTERMS.description" content="Step-by-step guide to apply for protection from domestic violence.">
	<meta name="DCTERMS.subject" scheme="AGLSTERMS.APAIS" content="Domestic Violence">
	<meta name="AGLSTERMS.function" scheme="AGLSTERMS.AGIFT" content="JUSTICE ADMINISTRATION - Human rights obligations">
	<meta name="DCTERMS.type" scheme="DCTERMS.DCMIType" content="Text">
	<meta name="AGLSTERMS.documentType" scheme="AGLSTERMS.agls-document" content="form">
	<meta name="DCTERMS.audience" scheme="AGLSTERMS.agls-audience" content="women; Aboriginal and Torres Strait Islanders; seniors; migrants; men; Queensland">
	<meta name="DCTERMS.jurisdiction" scheme="AGLSTERMS.AglsJuri" content="Queensland">
</head>

<body ng-app="dv1" ng-init="beta = true;" ng-class="{ beta: beta }">


<a id="quick-exit" target="_top" href="http://www.google.com/" accesskey="q">Quick exit ➟</a>
<script src="http://bboyle.github.io/quick-exit/dist/quick-exit.min.js"></script>


	<header class="beta-warning" ng-click="beta = false">
		<strong>Under construction</strong>.
		If you require assistance with domestic violence in Queensland please visit <a href="http://www.qld.gov.au/community/getting-support-health-social-issue/domestic-family-violence/">http://www.qld.gov.au/community/getting-support-health-social-issue/domestic-family-violence/</a>

		(<button type="button" ng-click="beta = false">Close this message</button>)
	</header>




<article ng-controller="InterviewController as interview">
	<nav>
		<ol>
			<li><button type="button" ng-disabled="interview.pageUnlocked < interview.PAGE.PREAMBLE" ng-click="interview.goto( interview.PAGE.PREAMBLE )">Preamble</button></li>
			<li><button type="button" ng-disabled="interview.pageUnlocked < interview.PAGE.APPLICANT" ng-click="interview.goto( interview.PAGE.APPLICANT )">Applicant details</button></li>
			<li><button type="button" ng-disabled="interview.pageUnlocked < interview.PAGE.AGGRIEVED" ng-click="interview.goto( interview.PAGE.AGGRIEVED )">Aggrieved details</button></li>
			<li><button type="button" ng-disabled="interview.pageUnlocked < interview.PAGE.RESPONDENT" ng-click="interview.goto( interview.PAGE.RESPONDENT )">Respondent details</button></li>
			<li><button type="button" ng-disabled="interview.pageUnlocked < interview.PAGE.RELATIONSHIP" ng-click="interview.goto( interview.PAGE.RELATIONSHIP )">Relationship</button></li>
			<li><button type="button" ng-disabled="interview.pageUnlocked < interview.PAGE.ABUSE" ng-click="interview.goto( interview.PAGE.ABUSE )">History of abuse</button></li>
			<li><button type="button" ng-disabled="interview.pageUnlocked < interview.PAGE.CONDITIONS" ng-click="interview.goto( interview.PAGE.CONDITIONS )">Conditions</button></li>
			<li><button type="button" ng-disabled="interview.pageUnlocked < interview.PAGE.GROUNDS" ng-click="interview.goto( interview.PAGE.GROUNDS )">Grounds</button></li>
		</ol>
	</nav>

	<h1>Apply for a protection order</h1>



	<section ng-show="interview.page === interview.PAGE.PREAMBLE">

	<div class="language-chooser"></div>


	<div class="preamble status info">
		<h2>Before you begin</h2>
		<ul>
			<li>We will ask questions about your situation — what happened and when — what protection you need. This online interview can take an hour or more to complete.</li>
			<li>At the end, you will have the necessary forms to take to court. Protection orders may take 4 weeks or longer. We will ask if you need a <dfn>temporary protection order</dfn> to protect you while waiting for the court to hear your case.</li>
			<li>You can apply yourself. You can also ask a friend or lawyer to apply on your behalf. In some situations, the police may apply for you.</li>
		</ul>
	</div>

	<form>
	<div class="status warn">
		<h2>Is your web browsing safe?</h2>
		<p>Someone may be able to tell you visited this web page.</p>
		<ol class="questions">
			<li>
				<fieldset>
					<legend>
						<span class="label">Is it safe for you to fill out this form?</span>
						<abbr title="(required)" class="required">*</abbr>
					</legend>
					<ul class="choices">
						<li>
							<input type="radio" ng-model="interview.safe" value="No" required id="interview-is-safe-no">
							<label for="interview-is-safe-no">No — someone could spy on my web browser</label>
						</li>
						<li>
							<input type="radio" ng-model="interview.safe" value="Not sure" required id="interview-is-safe-not-sure">
							<label for="interview-is-safe-not-sure">Not sure</label>
						</li>
						<li>
							<input type="radio" ng-model="interview.safe" value="Yes" required id="interview-is-safe-yes">
							<label for="interview-is-safe-yes">Yes — this computer is completely safe</label>
						</li>
					</ul>
				</fieldset>
			</li>
		</ol>
	</div>
	</form>


	<div class="status info" ng-show="interview.safe === 'No'">
		<h2>Protect yourself online</h2>
		<ol>
			<li>Learn about <a href="#">safe browsing habits</a></li>
			<li>Leave this web page and <a href="#">clear your browser history</a></li>
		</ol>
	</div>

	<div class="status info" ng-show="interview.safe === 'Not sure'">
		<h2>Different ways to apply for protection</h2>
		<ul>
			<li>contact Queensland Police</li>
			<li>contact DVConnect</li>
			<li>from a computer at a public library</li>
			<li>from a computer or tablet at a friend of family home</li>
			<li>in person, at a Queensland Magistrates Court</li>
			<li>from a safe smartphone (e.g. <a href="http://wesnet.org.au/home2/projects/telstra-safe-connections-project/">Safe Connections</a></li>
		</ul>

		<h3>Continue applying</h3>
		<ul>
			<li>switch to a <a href="#">private browsing session</a></li>
			<li>clear your browser history</li>
			<li>take note of the <em>Quick Exit</em> button on the side of the screen. Use this if you need to quickly exit the site.</li>
		</ul>

		<h3>Save and continue later</h3>
		<ul>
			<li>Would you like to setup save and continue later?</li>
			<li>We can email your application to a trusted email address: your own, a friend, family or a service provider</li>
			<li>We can save your responses on this computer which you can access again using a safe word</li>
		</ul>
	</div>


	<form class="form" ng-submit="interview.completePreamble()" ng-show="interview.safe === 'Yes'">
		<ol class="questions">

			<li>
				<fieldset>
					<legend>
						<span class="label">Are you in immediate danger?</span>
						<abbr title="(required)" class="required">*</abbr>
						<small class="hint">If someone could hurt you while you are answering this form you should call the police. Police can provide immediate assistance and apply for a protection order for you.</small>
					</legend>
					<ul class="choices">
						<li>
							<input type="radio" name="applicant-danger" ng-model="interview.applicantInDanger" value="yes" required id="applicant-danger-yes">
							<label for="applicant-danger-yes">Yes — call 000 and ask for police</label>
						</li>
						<li>
							<input type="radio" name="applicant-danger" ng-model="interview.applicantInDanger" value="maybe" required id="applicant-danger-dunno">
							<label for="applicant-danger-dunno">I don't know — contact DVConnect</label>
						</li>
						<li>
							<input type="radio" name="applicant-danger" ng-model="interview.applicantInDanger" value="no" required id="applicant-danger-no">
							<label for="applicant-danger-no">It is safe for me to fill out this form (it could take an hour or longer)</label>
						</li>
					</ul>
				</fieldset>
			</li>

			<li ng-show="interview.applicantInDanger === 'no'">
				<ul class="actions">
					<li><strong><button>Continue</button></strong></li>
				</ul>
			</li>
		</ol>
	</form>
	</section>



	<form class="form" ng-show="interview.page === interview.PAGE.APPLICANT" ng-submit="interview.goto( interview.PAGE.AGGRIEVED )">
		<ol class="questions">
			<li>
				<fieldset>
					<legend>
						<span class="label">Do you need protection?</span>
						<abbr title="(required)" class="required">*</abbr>
					</legend>
					<ul class="choices">
						<li>
							<input type="radio"
							       name="applicant-is-aggrieved"
							       ng-model="interview.applicantIsAggrieved"
							       ng-value="true"
							       required
							       id="applicant-is-aggrieved"
							       ng-change="interview.checkApplicant()">
							<label for="applicant-is-aggrieved">Yes</label>
						</li>
						<li>
							<input type="radio"
							       name="applicant-is-aggrieved"
							       ng-model="interview.applicantIsAggrieved"
							       ng-value="false"
							       required
							       id="applicant-is-not-aggrieved"
							       ng-change="interview.checkApplicant()">
							<label for="applicant-is-not-aggrieved">No, I am applying for someone else</label>
						</li>
					</ul>
				</fieldset>
			</li>

			<li ng-show="interview.applicantIsAggrieved === false">
				<fieldset>
					<legend>
						<span class="label">What is your name?</span>
					</legend>
					<ol class="questions compact">
						<li>
							<label for="applicant-name-given">
								<span class="label">Given name</span>
							</label>
							<input type="text" size="15"
							       id="applicant-name-given"
							       ng-model="interview.applicant.name.given"
							       ng-required="! interview.applicantIsAggrieved"
							       ng-change="interview.saveApplicant()"
							>
						</li>
						<li>
							<label for="applicant-name-family">
								<span class="label">Family name</span>
							</label>
							<input type="text" size="15"
							       id="applicant-name-family"
							       ng-model="interview.applicant.name.family"
							       ng-required="! interview.applicantIsAggrieved"
							       ng-change="interview.saveApplicant()"
							>
						</li>
					</ol>
				</fieldset>
			</li>

			<li class="footer">
				<ul class="actions">
					<li><strong><button type="submit">Continue</button></strong></li>
				</ul>
			</li>
		</ol>
	</form>



	<form class="form" ng-show="interview.page === interview.PAGE.AGGRIEVED" ng-submit="interview.goto( interview.PAGE.RESPONDENT )">
		<ol class="questions">
			<li>
				<fieldset>
					<legend>
						<span ng-if="interview.applicantIsAggrieved" class="label">What is your name?</span>
						<span ng-if="! interview.applicantIsAggrieved" class="label">Tell us the name of the person who needs protection</span>
					</legend>
					<ol class="questions compact">
						<li>
							<label for="aggrieved-name-given">
								<span class="label">Given name</span>
								<abbr class="required" title="(required)">*</abbr>
							</label>
							<input type="text" size="15"
							       id="aggrieved-name-given"
							       required
							       ng-model="interview.aggrieved.name.given"
							       ng-change="interview.saveAggrieved()"
							>
						</li>
						<li>
							<label for="aggrieved-name-family">
								<span class="label">Family name</span>
								<abbr class="required" title="(required)">*</abbr>
							</label>
							<input type="text" size="15"
							       id="aggrieved-name-family"
							       required
							       ng-model="interview.aggrieved.name.family"
							       ng-change="interview.saveAggrieved()"
							>
						</li>
					</ol>
				</fieldset>
			</li>
			<li>
				<label for="interview-aggrieved-gender">
					<span class="label">Gender</span>
				</label>
				<select ng-model="interview.aggrieved.gender" id="interview-aggrieved-gender" ng-change="interview.saveAggrieved()">
					<option value="F">Female</option>
					<option value="M">Male</option>
					<option value="G">Other</option>
				</select>
			</li>

			<li class="footer">
				<ul class="actions">
					<li><strong><button type="submit">Continue</button></strong></li>
				</ul>
			</li>
		</ol>
	</form>



	<form class="form" ng-show="interview.page === interview.PAGE.RESPONDENT" ng-submit="interview.goto( interview.PAGE.RELATIONSHIP )">
		<ol class="questions">
			<li ng-show="interview.aggrieved.name.given">
				<fieldset>
					<legend>
						<span ng-if="interview.applicantIsAggrieved" class="label">Who do you need protection from?</span>
						<span ng-if="! interview.applicantIsAggrieved" class="label">Who does {{ interview.aggrieved.name.given }} need protection from?</span>
					</legend>
					<ol class="questions compact">
						<li>
							<label for="respondent-name-given">
								<span class="label">Given name</span>
								<abbr class="required" title="(required)">*</abbr>
							</label>
							<input type="text" size="15"
							       id="respondent-name-given"
							       required
							       ng-model="interview.respondent.name.given"
							       ng-change="interview.saveRespondent()"
							>
						</li>
						<li>
							<label for="respondent-name-family">
								<span class="label">Family name</span>
								<abbr class="required" title="(required)">*</abbr>
							</label>
							<input type="text" size="15"
							       id="respondent-name-family"
							       required
							       ng-model="interview.respondent.name.family"
							       ng-change="interview.saveRespondent()"
							>
						</li>
					</ol>
				</fieldset>
			</li>
			<li>
				<label for="interview-respondent-gender">
					<span class="label">Gender</span>
				</label>
				<select ng-model="interview.respondent.gender" id="interview-respondent-gender" ng-change="interview.saveRespondent()">
					<option value="F">Female</option>
					<option value="M">Male</option>
					<option value="G">Other</option>
				</select>
			</li>

			<li class="footer">
				<ul class="actions">
					<li><strong><button type="submit">Continue</button></strong></li>
				</ul>
			</li>
		</ol>
	</form>



	<form class="form" ng-show="interview.page === interview.PAGE.RELATIONSHIP" ng-submit="interview.goto( interview.PAGE.ABUSE )">
		<ol class="questions">
			<li>
				<fieldset>
					<legend>
						<span class="label">What is {{ interview.applicantIsAggrieved ? 'your' : interview.aggrieved.name.given + '’s' }} relationship to {{ interview.respondent.name.given }}?</span>
					</legend>
					<ul class="choices">
						<li>
							<input type="radio" ng-model="interview.aggrieved.relationship.category" value="Intimate personal" id="interview-relationship-intimate-personal">
							<label for="interview-relationship-intimate-personal">Intimate personal</label>
							<small class="hint">Example: were married or in a registered relationship, had a child together, dating, were a couple.</small>
						</li>
						<li>
							<input type="radio" ng-model="interview.aggrieved.relationship.category" value="Family" id="interview-relationship-family">
							<label for="interview-relationship-family">Family</label>
							<small class="hint">Includes {{ interview.applicantIsAggrieved ? 'your' : interview.aggrieved.name.given + '’s' }} immediate and extended family, in-laws, step- and foster families.</small>
						</li>
						<li>
							<input type="radio" ng-model="interview.aggrieved.relationship.category" value="Informal care" id="interview-relationship-informal-care">
							<label for="interview-relationship-informal-care">Informal care</label>
						</li>
					</ul>
				</fieldset>
			</li>
			<li ng-show="interview.aggrieved.relationship.category === 'Intimate personal'">
				<fieldset>
					<legend>
						<span class="label">Intimate personal relationship:</span>
					</legend>
					<ul class="choices">
						<li>
							<input type="radio" ng-model="interview.aggrieved.relationship.type" value="Married" id="interview-relationship-married">
							<label for="interview-relationship-married">Married</label>
						</li>
						<li>
							<input type="radio" ng-model="interview.aggrieved.relationship.type" value="Former Spouse" id="interview-relationship-former-spouse">
							<label for="interview-relationship-former-spouse">Former Spouse</label>
						</li>
						<li>
							<input type="radio" ng-model="interview.aggrieved.relationship.type" value="De Facto" id="interview-relationship-de-facto">
							<label for="interview-relationship-de-facto">De Facto</label>
						</li>
						<li>
							<input type="radio" ng-model="interview.aggrieved.relationship.type" value="Registered Relationship" id="interview-relationship-registered-relationship">
							<label for="interview-relationship-registered-relationship">Registered Relationship</label>
						</li>
						<li>
							<input type="radio" ng-model="interview.aggrieved.relationship.type" value="Parent/Former Parent of a Child" id="interview-relationship-parent-former-parent-of-a-child">
							<label for="interview-relationship-parent-former-parent-of-a-child">Parent/Former Parent of a Child</label>
						</li>
						<li>
							<input type="radio" ng-model="interview.aggrieved.relationship.type" value="Engaged" id="interview-relationship-engaged">
							<label for="interview-relationship-engaged">Engaged</label>
						</li>
						<li>
							<input type="radio" ng-model="interview.aggrieved.relationship.type" value="Were Engaged" id="interview-relationship-were-engaged">
							<label for="interview-relationship-were-engaged">Were Engaged</label>
						</li>
						<li>
							<input type="radio" ng-model="interview.aggrieved.relationship.type" value="Couple" id="interview-relationship-couple">
							<label for="interview-relationship-couple">Couple</label>
						</li>
					</ul>
				</fieldset>
			</li>
			<li ng-show="interview.aggrieved.relationship.category === 'Family'">
				<fieldset>
					<legend>
						<span class="label">Family relationship:</span>
					</legend>
					<ul class="choices">
						<li>
							<input type="radio" ng-model="interview.aggrieved.relationship.type" value="Parent" id="interview-relationship-parent">
							<label for="interview-relationship-parent">Parent</label>
						</li>
						<li>
							<input type="radio" ng-model="interview.aggrieved.relationship.type" value="Sibling" id="interview-relationship-sibling">
							<label for="interview-relationship-sibling">Brother or sister</label>
						</li>
						<li>
							<input type="radio" ng-model="interview.aggrieved.relationship.type" value="Aunt" id="interview-relationship-aunt">
							<label for="interview-relationship-aunt">Aunt</label>
						</li>
						<li>
							<input type="radio" ng-model="interview.aggrieved.relationship.type" value="Uncle" id="interview-relationship-uncle">
							<label for="interview-relationship-uncle">Uncle</label>
						</li>
						<li>
							<input type="radio" ng-model="interview.aggrieved.relationship.type" value="Cousin" id="interview-relationship-cousin">
							<label for="interview-relationship-cousin">Cousin</label>
						</li>
						<li>
							<input type="radio" ng-model="interview.aggrieved.relationship.type" value="Step child" id="interview-relationship-stepchild">
							<label for="interview-relationship-stepchild">Step child</label>
						</li>
						<li>
							<input type="radio" ng-model="interview.aggrieved.relationship.type" value="Other family" id="interview-relationship-family-other">
							<label for="interview-relationship-family-other">Other</label>
						</li>
					</ul>
				</fieldset>
			</li>
			<li ng-show="interview.aggrieved.relationship.category === 'Intimate personal' &amp;&amp; interview.aggrieved.relationship.type === 'Couple'">
				<label for="interview-relationship-couple">
					<span class="label">Describe how {{ interview.applicantIsAggrieved ? 'you' : interview.aggrieved.name.given }} and {{ interview.respondent.name.given }} are a couple</span>
					<small class="hint">Include the level of dependency on each other whether financial or otherwise; length of time of the relationship; frequency of contact and degree of intimacy, if any.</small>
				</label>
				<textarea cols="40" rows="2"
				       id="interview-relationship-couple"
				       ng-model="interview.aggrieved.relationship.couple"
				></textarea>
			</li>
			<li ng-show="interview.aggrieved.relationship.category === 'Family' &amp;&amp; interview.aggrieved.relationship.type === 'Other family'">
				<label for="interview-relationship-family-other-specify">
					<span class="label" ng-if="interview.applicantIsAggrieved">How are you related to {{ interview.respondent.name.given }}?</span>
					<span class="label" ng-if="! interview.applicantIsAggrieved">Describe the family relationship between {{ interview.aggrieved.name.given }} and {{ interview.respondent.name.given }}</span>
				</label>
				<textarea cols="40" rows="2"
				       id="interview-relationship-family-other-specify"
				       ng-model="interview.aggrieved.relationship.other"
				></textarea>
			</li>
			<li ng-show="interview.aggrieved.relationship.category === 'Informal care'">
				<label for="interview-relationship-family-informal-care-specify">
					<span class="label">Describe the informal care relationship {{ interview.applicantIsAggrieved ? 'you have with' : 'between ' + interview.aggrieved.name.given + ' and' }} {{ interview.respondent.name.given }}</span>
				</label>
				<textarea cols="40" rows="2"
				       id="interview-relationship-family-informal-care-specify"
				       ng-model="interview.aggrieved.relationship.informalCare"
				></textarea>
			</li>

			<li class="footer">
				<ul class="actions">
					<li><strong><button type="submit">Continue</button></strong></li>
				</ul>
			</li>
		</ol>
	</form>



	<form class="form" ng-show="interview.page === interview.PAGE.ABUSE" ng-submit="interview.goto( interview.PAGE.CONDITIONS )">
		<div class="status info">
			<h2>What has {{ interview.respondent.name.given }} done to {{ interview.applicantIsAggrieved ? 'you' : interview.aggrieved.name.given }}?</h2>
			<p>
				Domestic and family violence is when one
				person in a relationship uses violence or
				abuse to maintain power and control over
				the other person. Abuse is not always
				physical — it can be emotional, verbal,
				sexual, financial or other controlling
				behaviours that cause the person being
				abused to live in fear.
			</p>
		</div>

		<ol class="questions">
			<li class="section">
				<fieldset>
					<legend>
						<span class="h3">Physical abuse</span>
					</legend>
					<ul class="choices">
					</ul>
				</fieldset>
			</li>

			<li class="section">
				<fieldset>
					<legend>
						<span class="h3">Sexual abuse</span>
					</legend>
					<ul class="choices">
					</ul>
				</fieldset>
			</li>

			<li class="section">
				<fieldset>
					<legend>
						<span class="h3">Emotional abuse</span>
					</legend>
					<ul class="choices">
					</ul>
				</fieldset>
			</li>

			<li class="section">
				<fieldset>
					<legend>
						<span class="h3">Economic abuse</span>
					</legend>
					<ul class="choices">
<!-- coercing a person to relinquish control over assets and income -->
						<li>
							<input type="checkbox"
							       id="interview-abuse-economic-control-assets"
							       ng-model="interview.abuse.economic.relinquishAssets"
							       ng-value="true">
							<label for="interview-abuse-economic-control-assets">{{ interview.respondent.name.given }} made {{ interview.applicantIsAggrieved ? 'me' : interview.aggrieved.name.given }} give up {{ interview.applicantIsAggrieved ? 'my' : interview.aggrieved.pronoun.their }} assets and income</label>
						</li>
<!-- removing or keeping a person’s property without the person’s consent, or threatening to do so -->
						<li>
							<input type="checkbox"
							       id="interview-abuse-economic-theft-threatened"
							       ng-model="interview.abuse.economic.theftThreatened"
							       ng-value="true">
							<label for="interview-abuse-economic-theft-threatened">{{ interview.respondent.name.given }} threatened to steal {{ interview.applicantIsAggrieved ? 'my' : interview.aggrieved.name.given + '’s' }} property</label>
						</li>
						<li>
							<input type="checkbox"
							       id="interview-abuse-economic-theft"
							       ng-model="interview.abuse.economic.theft"
							       ng-value="true">
							<label for="interview-abuse-economic-theft">{{ interview.respondent.name.given }} stole {{ interview.applicantIsAggrieved ? 'my' : interview.aggrieved.name.given + '’s' }} property</label>
						</li>
<!-- disposing of property owned by a person, or owned jointly with a person, against the person’s wishes and without lawful excuse -->
						<li>
							<input type="checkbox"
							       id="interview-abuse-economic-destroy"
							       ng-model="interview.abuse.economic.destroyProperty"
							       ng-value="true">
							<label for="interview-abuse-economic-destroy">{{ interview.respondent.name.given }} destroyed {{ interview.applicantIsAggrieved ? 'my' : interview.aggrieved.name.given + '’s' }} property</label>
						</li>
<!-- without lawful excuse, preventing a person from having access to joint financial assets for the purposes of meeting normal household expenses -->
						<li>
							<input type="checkbox"
							       id="interview-abuse-economic-prevent-joint-access"
							       ng-model="interview.abuse.economic.preventJointAccess"
							       ng-value="true">
							<label for="interview-abuse-economic-prevent-joint-access">{{ interview.respondent.name.given }} stopped {{ interview.applicantIsAggrieved ? 'me' : interview.aggrieved.name.given }} using {{ interview.applicantIsAggrieved ? 'our' : 'their' }} joint financial assets for household expenses</label>
						</li>
<!-- preventing a person from seeking or keeping employment -->
						<li>
							<input type="checkbox"
							       id="interview-abuse-economic-prevent-employment"
							       ng-model="interview.abuse.economic.preventEmployment"
							       ng-value="true">
							<label for="interview-abuse-economic-prevent-employment">{{ interview.respondent.name.given }} stopped {{ interview.applicantIsAggrieved ? 'me' : interview.aggrieved.name.given }} from getting a job</label>
						</li>
<!-- coercing a person to claim social security payments -->
						<li>
							<input type="checkbox"
							       id="interview-abuse-economic-social-security-payments"
							       ng-model="interview.abuse.economic.socialSecurityPayments"
							       ng-value="true">
							<label for="interview-abuse-economic-social-security-payments">{{ interview.respondent.name.given }} tried to make {{ interview.applicantIsAggrieved ? 'me' : interview.aggrieved.name.given }} claim CentreLink payments</label>
						</li>
<!-- coercing a person to sign a power of attorney that would enable the person’s finances to be managed by another person -->
						<li>
							<input type="checkbox"
							       id="interview-abuse-economic-power-attorney"
							       ng-model="interview.abuse.economic.powerAttorney"
							       ng-value="true">
							<label for="interview-abuse-economic-power-attorney">{{ interview.respondent.name.given }} made {{ interview.applicantIsAggrieved ? 'me' : interview.aggrieved.name.given }} sign a <cite>Power of Attorney</cite> statement that took away {{ interview.applicantIsAggrieved ? 'my' : interview.aggrieved.pronoun.their }} control over money</label>
						</li>
<!-- coercing a person to sign a contract for the purchase of goods or services -->
						<li>
							<input type="checkbox"
							       id="interview-abuse-economic-contract-purchase"
							       ng-model="interview.abuse.economic.contractPurchase"
							       ng-value="true">
							<label for="interview-abuse-economic-contract-purchase">{{ interview.respondent.name.given }} made {{ interview.applicantIsAggrieved ? 'me' : interview.aggrieved.name.given }} sign a contract to buy things {{ interview.respondent.pronoun.they }} wanted</label>
						</li>
<!-- coercing a person to sign a contract for the provision of finance, a loan or credit -->
						<li>
							<input type="checkbox"
							       id="interview-abuse-economic-contract-loan"
							       ng-model="interview.abuse.economic.contractLoan"
							       ng-value="true">
							<label for="interview-abuse-economic-contract-loan">{{ interview.respondent.name.given }} made {{ interview.applicantIsAggrieved ? 'me' : interview.aggrieved.name.given }} sign a contract to borrow money for {{ interview.respondent.pronoun.them }}</label>
							<small class="hint">Examples: taking out a loan, applying for a credit card</small>
						</li>
<!-- coercing a person to sign a contract of guarantee -->
						<li>
							<input type="checkbox"
							       id="interview-abuse-economic-contract-guarantee"
							       ng-model="interview.abuse.economic.contractGuarantee"
							       ng-value="true">
							<label for="interview-abuse-economic-contract-guarantee">{{ interview.respondent.name.given }} made {{ interview.applicantIsAggrieved ? 'me' : interview.aggrieved.name.given }} sign a contract of guarantee</label>
						</li>
<!-- coercing a person to sign any legal document for the establishment or operation of a business -->
						<li>
							<input type="checkbox"
							       id="interview-abuse-economic-legal-business"
							       ng-model="interview.abuse.economic.legalBusiness"
							       ng-value="true">
							<label for="interview-abuse-economic-legal-business">{{ interview.respondent.name.given }} made {{ interview.applicantIsAggrieved ? 'me' : interview.aggrieved.name.given }} sign a legal document for {{ interview.respondent.pronoun.their }} business</label>
						</li>
					</ul>
				</fieldset>
			</li>

			<li class="footer">
				<ul class="actions">
					<li><strong><button type="submit">Continue</button></strong></li>
				</ul>
			</li>
		</ol>
	</form>



	<form class="form" ng-show="interview.page === interview.PAGE.CONDITIONS" ng-submit="interview.goto( interview.PAGE.GROUNDS )">
		<div class="status info">
			<h2>{{ interview.applicantIsAggrieved ? 'You need' : interview.aggrieved.name.given + ' needs' }} protection from {{ interview.respondent.name.given }}</h2>

			<blockquote>“The way {{ interview.applicantIsAggrieved ? 'you are' : interview.aggrieved.name.given + ' is' }} being treated is wrong — it’s abuse. People feel angry but everyone has a choice in how they respond to the situation. Anger is not an excuse for domestic violence”</blockquote>

			<ul>
				<li>{{ interview.applicantIsAggrieved ? 'You are' : interview.aggrieved.name.given + ' is' }} the <dfn>aggrieved</dfn> (the person needing protection).</li>
				<li ng-if="interview.applicantIsAggrieved">You are also the <dfn>applicant</dfn> (the person applying for a protection order)</li>
				<li>{{ interview.respondent.name.given }} is the <dfn>respondent</dfn> (the person {{ interview.applicantIsAggrieved ? 'you' : interview.aggrieved.name.given }} needs protection from).</li>
			</ul>
			<p ng-if="! interview.applicantIsAggrieved">You are the <dfn>applicant</dfn> (the person applying for a protection order)</p>
		</div>

		<ol class="questions">
		<!-- TODO do you have children? how many? how many need protection? name them -->
		<!-- how leading can these questions get?

			Kids = James, Mary, Robert

			(a) Ashley would never hurt James
			(b) Ashley has hurt James
			(c) Describe Ashley's relationship with James
				- natural father, step father, etc, other
				- describe (textarea) do they get along or not
				- ask if they need protection first or next?
				- other options - child protection ... how old is James?

				- other conditions on order:
				  - stay away from aggrieved (a) residence, work, where staying, other places frequented, approaching (anywhere)
				  - stay away from child (as above) = name child on order
				  - stay away from schools, daycare etc = name child on order + extra condition
				  - "other conduct"
		 -->
			<li>
				<fieldset>
					<legend>
						<span class="label">{{ interview.applicantIsAggrieved ? 'Do you' : 'Does ' + interview.aggrieved.name.given }} have children that need protection from {{ interview.respondent.name.given }}?</span>
					</legend>
					<ul class="choices compact">
						<li>
							<input type="radio"
							       name="interview-protect-children"
							       id="interview-protect-children-true"
							       ng-model="interview.aggrieved.children"
							       ng-value="true"
							       required>
							<label for="interview-protect-children-true">Yes</label>
						</li>
						<li>
							<input type="radio"
							       name="interview-protect-children"
							       id="interview-protect-children-false"
							       ng-model="interview.aggrieved.children"
							       ng-value="false"
							       required>
							<label for="interview-protect-children-false">No</label>
						</li>
					</ul>
				</fieldset>
			</li>
			<li>
				<fieldset>
					<legend>
						<span class="label">{{ interview.applicantIsAggrieved ? 'Do you' : 'Does ' + interview.aggrieved.name.given }} have associates that need protection from {{ interview.respondent.name.given }}?</span>
						<small class="hint"><dfn>Associates</dfn> can mean family, relatives, friends, coworkers or other people {{ interview.applicantIsAggrieved ? 'you know' : interview.aggrieved.name.given + ' knows' }}.</small>
					</legend>
					<ul class="choices compact">
						<li>
							<input type="radio"
							       name="interview-protect-associates"
							       id="interview-protect-associates-true"
							       ng-model="interview.aggrieved.associates"
							       ng-value="true"
							       required>
							<label for="interview-protect-associates-true">Yes</label>
						</li>
						<li>
							<input type="radio"
							       name="interview-protect-associates"
							       id="interview-protect-associates-false"
							       ng-model="interview.aggrieved.associates"
							       ng-value="false"
							       required>
							<label for="interview-protect-associates-false">No</label>
						</li>
					</ul>
				</fieldset>
			</li>

			<!-- TODO nicer UX for naming the applicant as an associate (opt-in) -->
			<li ng-if="! interview.applicantIsAggrieved">
				<fieldset>
					<legend>
						<span class="label">{{ interview.applicant.name.given }}, do you need protection from {{ interview.respondent.name.given }} too?</span>
						<small class="hint">{{ interview.respondent.name.given }} will know you applied for this protection order.</small>
					</legend>
					<ul class="choices compact">
						<li>
							<input type="radio"
							       name="interview-protect-applicant"
							       id="interview-protect-applicant-true"
							       ng-model="interview.aggrieved.applicant"
							       ng-value="true"
							       required>
							<label for="interview-protect-applicant-true">Yes</label>
						</li>
						<li>
							<input type="radio"
							       name="interview-protect-applicant"
							       id="interview-protect-applicant-false"
							       ng-model="interview.aggrieved.applicant"
							       ng-value="false"
							       required>
							<label for="interview-protect-applicant-false">No</label>
						</li>
					</ul>
				</fieldset>
			</li>

			<li>
				<fieldset>
					<legend>
						<span class="label">Conditions you would like the court to consider</span>
					</legend>
					<ul class="choices">
						<li>
							<input type="checkbox" disabled checked id="interview-conditions-respondent-behaviour">
							<label for="interview-conditions-respondent-behaviour">I want {{ interview.respondent.name.given }} to behave decently around {{ interview.applicantIsAggrieved ? 'me' : interview.aggrieved.name.given }}</label>
							<small class="hint">Every protection order includes the condition: <samp>Be of good behaviour towards {{ interview.aggrieved.name.given }} and not commit domestic violence against {{ interview.aggrieved.name.given }}</samp></small>
						</li>
						<li ng-show="interview.aggrieved.children">
							<input type="checkbox" disabled checked id="interview-conditions-respondent-behaviour-children">
							<label for="interview-conditions-respondent-behaviour-children">I want {{ interview.respondent.name.given }} to behave decently around {{ interview.applicantIsAggrieved ? 'my' : interview.aggrieved.name.given + '’s' }} kids</label>
							<small class="hint">Every protection order listing children includes the condition: <samp>Be of good behaviour towards the child and not commit associated domestic violence against the child and not expose the child to domestic violence.</samp></small>
						</li>
						<li ng-show="interview.aggrieved.associates || interview.aggrieved.applicant">
							<input type="checkbox" disabled checked id="interview-conditions-respondent-behaviour-associates">
							<label for="interview-conditions-respondent-behaviour-associates">
								I want {{ interview.respondent.name.given }} towards behave decently towards
								<span ng-if="interview.aggrieved.associates">{{ interview.applicantIsAggrieved ? 'my' : interview.aggrieved.name.given + '’s' }} family and friends</span><span ng-if="interview.aggrieved.applicant">{{ interview.aggrieved.associates ? ', including ' : '' }} me</span>
							</label>
							<small class="hint">Every protection order naming associates includes the condition: <samp>Be of good behaviour towards the named person and not commit associated domestic violence against the named person.</samp></small>
						</li>

						<li>
							<input type="checkbox"
							       id="interview-conditions-respondent-leave-premises"
							       ng-model="interview.conditions.leavePremises"
							       ng-value="true">
							<label for="interview-conditions-respondent-leave-premises">I want {{ interview.respondent.name.given }} to leave {{ interview.applicantIsAggrieved ? 'my' : interview.aggrieved.name.given + '’s' }} home</label>
						</li>

						<li>
							<input type="checkbox"
							       id="interview-conditions-respondent-no-approach"
							       ng-model="interview.conditions.notApproach.aggrieved"
							       ng-value="true">
							<label for="interview-conditions-respondent-no-approach">I want {{ interview.respondent.name.given }} to stay away from {{ interview.applicantIsAggrieved ? 'me' : interview.aggrieved.name.given }}</label>
						</li>
						<li ng-show="interview.aggrieved.children">
							<input type="checkbox"
							       id="interview-conditions-respondent-no-approach-children"
							       ng-model="interview.conditions.notApproach.children"
							       ng-value="true">
							<label for="interview-conditions-respondent-no-approach-children">I want {{ interview.respondent.name.given }} to stay away from {{ interview.applicantIsAggrieved ? 'my' : interview.aggrieved.name.given + '’s' }} kids</label>
						</li>
						<li ng-show="interview.aggrieved.children">
							<input type="checkbox"
							       id="interview-conditions-respondent-no-approach-children-place"
							       ng-model="interview.conditions.notApproach.childrenPlace"
							       ng-value="true">
							<label for="interview-conditions-respondent-no-approach-children-place">I want {{ interview.respondent.name.given }} to stay away from the kid’s school/daycare/etc.</label>
						</li>
						<li ng-show="interview.aggrieved.applicant">
							<input type="checkbox"
							       id="interview-conditions-respondent-no-approach-applicant"
							       ng-model="interview.conditions.notApproach.applicant"
							       ng-value="true">
							<label for="interview-conditions-respondent-no-approach-applicant">I want {{ interview.respondent.name.given }} to stay away from me</label>
						</li>
						<li ng-show="interview.aggrieved.associates">
							<input type="checkbox"
							       id="interview-conditions-respondent-no-approach-associates"
							       ng-model="interview.conditions.notApproach.associates"
							       ng-value="true">
							<label for="interview-conditions-respondent-no-approach-associates">I want {{ interview.respondent.name.given }} to stay away from {{ interview.applicantIsAggrieved ? 'my' : interview.aggrieved.name.given + '’s' }} family and friends</label>
						</li>

						<li>
							<input type="checkbox"
							       id="interview-conditions-respondent-not-enter-home"
							       ng-model="interview.conditions.prohibitEntering.residence"
							       ng-value="true">
							<label for="interview-conditions-respondent-not-enter-home">I want {{ interview.respondent.name.given }} to stay away from {{ interview.applicantIsAggrieved ? 'my' : interview.aggrieved.name.given + '’s' }} home</label>
						</li>
						<li ng-show="interview.aggrieved.applicant">
							<input type="checkbox"
							       id="interview-conditions-respondent-not-enter-applicant-home"
							       ng-model="interview.conditions.prohibitEntering.applicantResidence"
							       ng-value="true">
							<label for="interview-conditions-respondent-not-enter-applicant-home">I want {{ interview.respondent.name.given }} to stay away from my home</label>
						</li>
						<li ng-show="interview.aggrieved.associates">
							<input type="checkbox"
							       id="interview-conditions-respondent-not-enter-associates-home"
							       ng-model="interview.conditions.prohibitEntering.associatesResidence"
							       ng-value="true">
							<label for="interview-conditions-respondent-not-enter-associates-home">I want {{ interview.respondent.name.given }} to stay away from {{ interview.applicantIsAggrieved ? 'my' : interview.aggrieved.name.given + '’s' }} family and friend’s homes</label>
						</li>

						<li>
							<input type="checkbox"
							       id="interview-conditions-respondent-not-enter-work"
							       ng-model="interview.conditions.prohibitEntering.workplace"
							       ng-value="true">
							<label for="interview-conditions-respondent-not-enter-work">I want {{ interview.respondent.name.given }} to stay away from {{ interview.applicantIsAggrieved ? 'my' : interview.aggrieved.name.given + '’s' }} workplace</label>
						</li>
						<li>
							<input type="checkbox"
							       id="interview-conditions-respondent-not-enter-staying"
							       ng-model="interview.conditions.prohibitEntering.accommodation"
							       ng-value="true">
							<label for="interview-conditions-respondent-not-enter-staying">I want {{ interview.respondent.name.given }} to stay away from the place where {{ interview.applicantIsAggrieved ? 'I am' : interview.aggrieved.name.given + ' is' }} currently staying</label>
						</li>

						<li>
							<input type="checkbox"
							       id="interview-conditions-respondent-no-contact"
							       ng-model="interview.conditions.noContact"
							       ng-value="true">
							<label for="interview-conditions-respondent-no-contact">I want {{ interview.respondent.name.given }} to stop contacting {{ interview.applicantIsAggrieved ? 'me' : interview.aggrieved.name.given }}</label>
							<small class="hint">{{ interview.respondent.name.given }} is not allowed to ask anyone else to contact {{ interview.applicantIsAggrieved ? 'you' : interview.aggrieved.name.given }} either.</small>
						</li>

						<li>
							<input type="checkbox"
							       id="interview-conditions-respondent-no-locate"
							       ng-model="interview.conditions.noLocate"
							       ng-value="true">
							<label for="interview-conditions-respondent-no-locate">I want {{ interview.respondent.name.given }} to stop trying to find {{ interview.applicantIsAggrieved ? 'me' : interview.aggrieved.name.given }}</label>
							<small class="hint">{{ interview.respondent.name.given }} is not allowed to ask anyone else to find {{ interview.applicantIsAggrieved ? 'you' : interview.aggrieved.name.given }} either.</small>
						</li>

						<li>
							<input type="checkbox"
							       id="interview-conditions-respondent-return-property"
							       ng-model="interview.conditions.returnProperty"
							       ng-value="true">
							<label for="interview-conditions-respondent-return-property">I want {{ interview.respondent.name.given }} to return {{ interview.applicantIsAggrieved ? 'my' : interview.aggrieved.name.given + '’s' }} property</label>
							<small class="hint"><dfn>Essential property</dfn> includes …</small>
						</li>

						<li>
							<input type="checkbox"
							       id="interview-conditions-respondent-change-behaviour"
							       ng-model="interview.conditions.changeBehaviour"
							       ng-value="true">
							<label for="interview-conditions-respondent-change-behaviour">I want {{ interview.respondent.name.given }} to change {{ interview.respondent.pronoun.their }} behaviour</label>
						</li>
					</ul>
				</fieldset>
			</li>

			<li>
				<fieldset>
					<legend>
						<span class="label">{{ interview.applicantIsAggrieved ? 'Do you' : 'Does ' + interview.aggrieved.name.given }} need protection now?</span>
						<small class="hint">It may take <strong>4 weeks (or more)</strong> before a protection order is served.</small>
					</legend>
					<ul class="choices">
						<li>
							<input type="radio"
							       name="interview-temporary-protection"
							       id="interview-temporary-protection-true"
							       ng-model="interview.temporaryProtection.requested"
							       ng-value="true"
							       ng-click="updateTemporaryProtection()"
							       required>
							<label for="interview-temporary-protection-true">{{ interview.applicantIsAggrieved ? 'I need' : interview.aggrieved.name.given  + ' needs' }} protection as soon as possible</label>
						</li>
						<li>
							<input type="radio"
							       name="interview-temporary-protection"
							       id="interview-temporary-protection-false"
							       ng-model="interview.temporaryProtection.requested"
							       ng-value="false"
							       ng-click="updateTemporaryProtection()"
							       required>
							<label for="interview-temporary-protection-false">{{ interview.applicantIsAggrieved ? 'I' : interview.aggrieved.name.given }} can wait 4 (or more) weeks</label>
						</li>
					</ul>
				</fieldset>
			</li>

			<li class="footer">
				<ul class="actions">
					<li><strong><button type="submit">Continue</button></strong></li>
				</ul>
			</li>
		</ol>
	</form>


	<form class="form" ng-show="interview.page === interview.PAGE.GROUNDS">
		<div class="status info">
			<h2>{{ interview.applicantIsAggrieved ? 'You need' : interview.aggrieved.name.given + ' needs' }}</h2>
			<dl>
				<dt>Protection Order</dt>
				<dd>This will protect {{ interview.applicantIsAggrieved ? 'you' : interview.aggrieved.name.given }} for up to 2 years (can be reviewed and extended if necessary).</dd>
				<dd>The court process to get a protection order typically takes 4 weeks (sometimes longer).</dd>

				<dt ng-if="interview.temporaryProtection.requested">Temporary Protection Order</dt>
				<!-- TODO GENDER PRONOUNS. This covers Kim until his/her court appearance. -->
				<dd ng-if="interview.temporaryProtection.requested">The court can grant {{ interview.applicantIsAggrieved ? 'you' : interview.aggrieved.name.given }} temporary protection when you lodge this form (without waiting 4 weeks). This covers {{ interview.applicantIsAggrieved ? 'you' : interview.aggrieved.name.given }} until {{ interview.applicantIsAggrieved ? 'your' : 'their' }} court appearance.</dd>
			</dl>
		</div>

		<ol class="questions">
			<li>
				TODO:
				State grounds as to why a protection order is necessary or desirable to protect {{ interview.applicantIsAggrieved ? 'you' : interview.aggrieved.name.given }}
				It must be shown that domestic violence has occurred. Include specific example of behaviour by the respondent. Attach extra pages if necessary.
			</li>

			<li ng-if="interview.aggrieved.children">
				TODO: GROUNDS FOR INCLUDING {{ interview.applicantIsAggrieved ? 'your' : interview.aggrieved.name.given + '’s' }} CHILD(REN)
				<!-- TODO child vs children. Use actual children names -->
				(how does this differ to the general grounds?)
			</li>

			<li ng-if="interview.aggrieved.associates">
				TODO: GROUNDS FOR INCLUDING ASSOCIATES
				(how does this differ to the general grounds?)
			</li>

			<li ng-if="interview.temporaryProtection.requested">
				<label for="interview-temporary-protection-reasons">
					<span class="label">Reasons for temporary protection</span>
					<small class="hint">Explain why {{ interview.applicantIsAggrieved ? 'you' : interview.aggrieved.name.given }} cannot wait 4 weeks for a protection order</small>
				</label>
				<textarea class="large-compact" rows="10" cols="40"
				          ng-model="interview.temporaryProtection.reasons"
				          id="interview-temporary-protection-reasons"
				          ng-change="updateTemporaryProtection()"
				          ng-required="interview.temporaryProtection.requested"
				></textarea>
			</li>

			<li class="footer">
				<ul class="actions">
					<!-- <li><strong><button type="submit">Continue</button></strong></li> -->
				</ul>
			</li>
		</ol>
	</form>
</article>



<article ng-controller="DV1FormController as dv1">
	<nav>
		<button type="button" ng-class="{active: dv1.view.gazette}"   ng-click="dv1.showGazettedForm()">Gazetted form</button>
		<button type="button" ng-class="{active: ! dv1.view.gazette}" ng-click="dv1.showNames()">Real names</button>
	</nav>

	<header>
		<h1>FORM FV1</h1>
		<p><cite>Domestic and Family Violence Protection Act 2012 (s.32)</cite></p>

		<h1>Application for a Protection Order</h1>
		<p>Please note: A copy of this application will be given to the
			<var ng-if="dv1.view.gazette" class="respondent">respondent</var>
			<var ng-if="! dv1.view.gazette" class="respondent">{{ dv1.respondent.name.given }}</var>
		</p>
	</header>

	<section>
		<h2>1. <var class="aggrieved">{{ dv1.aggrieved.name.given }}</var>'s details</h2>
	</section>

	<section>
		<h2>2. <var class="respondent">{{ dv1.respondent.name.given }}</var>'s details</h2>
	</section>

	<section ng-hide="dv1.aggrievedIsApplicant">
		<h2 ng-if="dv1.view.gazette">3. <var class="applicant">Applicant's</var> details</h2>
		<h2 ng-if="! dv1.view.gazette">3. <var class="applicant">Your</var> details</h2>

		<h3 ng-if="dv1.view.gazette">PART A – A person being authorised by <var class="aggrieved">{{ dv1.aggrieved.name.the }}</var></h3>
		<h3 ng-if="! dv1.view.gazette">PART A – I am authorised by <var class="aggrieved">{{ dv1.aggrieved.name.the }}</var></h3>

		<h3 ng-if="dv1.view.gazette">PART B – A person acting under another Act for <var class="aggrieved">{{ dv1.aggrieved.name.the }}</var></h3>
		<h3 ng-if="! dv1.view.gazette">PART B – I am acting under another Act for <var class="aggrieved">{{ dv1.aggrieved.name.the }}</var></h3>

		<h3>PART C – A Police Officer</h3>

		<h3 ng-if="dv1.view.gazette">PART D – A party to a child protection proceeding</h3>
		<h3 ng-if="! dv1.view.gazette">PART D – I am party to a child protection proceeding</h3>
	</section>

	<section ng-show="dv1.aggrievedIsApplicant">
		<h2 ng-if="dv1.view.gazette">3. <var class="applicant">Applicant's</var> details</h2>
		<h2 ng-if="! dv1.view.gazette">3. <var class="applicant">Your</var> details</h2>

		<p>Your details have been entered in Section 1. You do not need to repeat them here.</p>
	</section>

	<section>
		<h2>Temporary Protection Order</h2>
		<ol class="questions">
			<li>
				<fieldset>
					<legend>
						<span class="label">Do you wish the court to make a temporary protection order?</span>
						<abbr title="(required)" class="required">*</abbr>
						<small class="hint">If you request a temporary protection order before the respondent has been served with a copy of the application, you will have to show the court that there are reasons why it is necessary or desirable for you or a named person to be protected by a temporary protection order before the respondent is served with a copy of the application.</small>
					</legend>
					<ul class="choices compact">
						<li>
							<input type="radio"
							       name="dv1-temporary-protection"
							       id="dv1-temporary-protection-false"
							       ng-model="dv1.temporaryProtection.requested"
							       ng-value="false"
							       required>
							<label for="dv1-temporary-protection-false">No</label>
						</li>
						<li>
							<input type="radio"
							       name="dv1-temporary-protection"
							       id="dv1-temporary-protection-true"
							       ng-model="dv1.temporaryProtection.requested"
							       ng-value="true"
							       required>
							<label for="dv1-temporary-protection-true">Yes</label>
						</li>
					</ul>
				</fieldset>
			</li>
			<li ng-show="dv1.temporaryProtection.requested">
				<label for="dv1-temporary-protection-reasons">
					<span class="label">Please state reasons below</span>
					<abbr title="(required)" class="required">*</abbr>
						<small class="hint relevance">(If you chose ‘Yes’ above)</small>
				</label>
				<textarea ng-model="dv1.temporaryProtection.reasons" rows="10" cols="40" required id="dv1-temporary-protection-reasons"></textarea>
			</li>
		</ol>
	</section>

	<section>
		<h2>Conditions sought in the order</h2>

		<p>A court making a domestic violence order must impose a condition that <var class="respondent">{{ dv1.respondent.name.the }}</var> —<br>
		<samp>Be of good behaviour towards <var class="aggrieved">{{ dv1.aggrieved.name.the }}</var> and not commit domestic violence against <var class="aggrieved">{{ dv1.aggrieved.name.the }}</var>.</samp></p>
		<p ng-if="dv1.view.gazette || dv1.aggrieved.associates">If the order includes a named person who is an adult —<br>
		<samp ng-if="dv1.view.gazette || dv1.aggrieved.associates">Be of good behaviour towards the named person and not commit associated domestic violence against the named person.</samp></p>
		<p ng-if="dv1.view.gazette || dv1.aggrieved.children">If the order includes a named person who is a child —<br>
		<samp ng-if="dv1.view.gazette || dv1.aggrieved.children">Be of good behaviour towards the child and not commit associated domestic violence against the child and not expose the child to domestic violence.</samp></p>
		<p>A court may also impose any other condition that the court considers necessary in the circumstances and desirable in the interests of <var class="aggrieved">{{ dv1.aggrieved.name.the }}</var>, any named person or <var class="respondent">{{ dv1.respondent.name.the }}</var>.</p>
	</section>


</article>




<div id="scripts">
<script type="text/javascript" src="https://static.qgov.net.au/assets/v2/script/loader.js"></script>
<script type="text/javascript" src="https://static.qgov.net.au/assets/v2/script/init.js"></script>
</div>

</body>
</html>
