<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-AU" lang="en-AU">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Apply for a protection order | Your rights, crime and the law | Queensland Government</title>


	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width">

	<!--[if (lt IE 9)|(gt IE 10) ]><link href="//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css"><![endif]-->
	<!--[if !IE]><!--><link href="//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css"><!--<![endif]-->
	<link rel="stylesheet" type="text/css" href="https://static.qgov.net.au/assets/v2/style/qgov.css" media="all">
	<!--[if lt IE 9]><link rel="stylesheet" href="https://static.qgov.net.au/assets/v2/style/qgov-ie.css" type="text/css" media="all"><![endif]-->
	<!-- layout-small is assumed by default (combined with qgov.css) -->
	<link href="https://static.qgov.net.au/assets/v2/style/layout-medium.css" media="only all and (min-width: 640px) and (max-width: 980px)" rel="stylesheet" type="text/css">
	<link href="https://static.qgov.net.au/assets/v2/style/layout-large.css" media="only all and (min-width: 980px)" rel="stylesheet" type="text/css">
	<link href="https://static.qgov.net.au/assets/v2/style/jquery-ui-qgov.css" media="all" rel="stylesheet" type="text/css">

	<link rel="shortcut icon" href="https://static.qgov.net.au/assets/v2/images/skin/favicon.ico">
	<meta prefix="og:http://ogp.me/ns#" property="og:image" content="https://static.qgov.net.au/assets/v2/images/skin/qg-coa-ogp.png">

<!-- PUT CUSTOM STYLES HERE -->
<link rel="stylesheet" href="assets/beta.css">
<link rel="stylesheet" href="assets/timeline.css">
<link rel="stylesheet" href="http://bboyle.github.io/quick-exit/dist/quick-exit.min.css">

<!-- Grab Google CDN's jQuery. Fall back to local copy if necessary -->
<!--[if gt IE 8]><!-->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript"><!-- //
	!window.jQuery && document.write(unescape('%3Cscript src="https://static.qgov.net.au/assets/v2/script/jquery-2.1.3.min.js"%3E%3C/script%3E'));
// --></script>
<!--<![endif]-->
<!--[if lt IE 9]>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">!window.jQuery && document.write(unescape('%3Cscript src="https://static.qgov.net.au/assets/v2/script/jquery-1.11.2.min.js"%3E%3C/script%3E'));</script>
<![endif]-->

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script type="text/javascript"><!-- //
	window.jQuery && !window.jQuery.ui && document.write(unescape('%3Cscript src="https://static.qgov.net.au/assets/v2/script/jquery-ui-1.11.2-min.js"%3E%3C/script%3E'));
// --></script>
<script type="text/javascript" src="https://static.qgov.net.au/assets/v2/script/qgov-environment.js" id="qgov-environment"></script>
<!--[if lt IE 9]>
<script type="text/javascript">document.createElement('abbr');document.createElement('time');</script>
<script type="text/javascript" src="https://static.qgov.net.au/assets/v2/script/ie-layout.js"></script>
<![endif]-->

<!-- PUT CUSTOM SCRIPTS THAT CANNOT BE DEFERRED HERE (see footer) -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>



	<meta name="description" content="Step-by-step guide to apply for protection from domestic violence.">
	<meta name="keywords" content="protection, abuse, family violence, restraining order, protection order, violence intervention order, apprehended violence order">

	<link rel="schema.DCTERMS" href="http://purl.org/dc/terms/">
	<link rel="schema.AGLSTERMS" href="http://www.agls.gov.au/agls/terms/">

	<meta name="DCTERMS.creator" scheme="AGLSTERMS.GOLD" content="c=AU; o=The State of Queensland; ou=Department of Justice and Attorney-General; ou=Justice Services">
	<meta name="DCTERMS.publisher" scheme="AGLSTERMS.AglsAgent" content="corporateName=The State of Queensland; jurisdiction=Queensland">
	<meta name="DCTERMS.created" content="2016-02-18">
	<meta name="DCTERMS.modified" content="2016-02-18">
	<meta name="DCTERMS.title" content="Apply for a protection order | Your rights, crime and the law">
	<meta name="DCTERMS.description" content="Step-by-step guide to apply for protection from domestic violence.">
	<meta name="DCTERMS.subject" scheme="AGLSTERMS.APAIS" content="Domestic Violence">
	<meta name="AGLSTERMS.function" scheme="AGLSTERMS.AGIFT" content="JUSTICE ADMINISTRATION - Human rights obligations">
	<meta name="DCTERMS.type" scheme="DCTERMS.DCMIType" content="Text">
	<meta name="AGLSTERMS.documentType" scheme="AGLSTERMS.agls-document" content="form">
	<meta name="DCTERMS.audience" scheme="AGLSTERMS.agls-audience" content="women; Aboriginal and Torres Strait Islanders; seniors; migrants; men; Queensland">
	<meta name="DCTERMS.jurisdiction" scheme="AGLSTERMS.AglsJuri" content="Queensland">
</head>

<body ng-app ng-init="beta = true;" ng-class="{ beta: beta }">


<div id="quick-exit" data-accesskey="Esc" title="www.google.com"><a target="_top" href="https://www.google.com/" data-accesskey="Esc">Quick exit ➟</a></div>
<script src="http://bboyle.github.io/quick-exit/dist/quick-exit.min.js"></script>


	<header class="beta-warning" ng-click="beta = false">
		<strong>Under construction</strong>.
		If you require assistance with domestic violence in Queensland please visit <a href="http://www.qld.gov.au/community/getting-support-health-social-issue/domestic-family-violence/">http://www.qld.gov.au/community/getting-support-health-social-issue/domestic-family-violence/</a>

		(<button type="button" ng-click="beta = false">Close this message</button>)
	</header>


	<form id="timeline">
		<h2>Timeline</h2>
		<section class="past">
			<h3>Past</h3>
			<dl>
				<dt>Relationship started</dt>
				<dd>
					<!-- TODO date control -->
					<!-- <input type="date" ng-model="dateRelationshipStart" ng-init="{dateRelationshipStart: new Date(2010, 6, 23)}" /> -->
					<!-- TODO display friendly date -->
					<!-- {{ dateRelationshipStart }} -->
					<time>{{ '2010-07-23' | date: 'd MMMM yyyy' }}</time>
				</dd>
				<dd>Couple: Single mother, boyfriend</dd>
				<dd>Mother's children: 2 daughters (2005, 2007)</dd>

				<dt>Relationship: Engaged</dt>
				<dd><time>April 2012</time></dd>

				<dt>Relationship: de facto</dt>
				<dd><time>June 2012</time></dd>
				<dd>Living together</dd>
				<dd>Joint mortgage</dd>

				<dt>Relationship: Married</dt>
				<dd><time>December 2012</time></dd>

				<dt>Birth: Daughter</dt>
				<dd><time>September 2013</time></dd>

				<dt>Birth: Son</dt>
				<dd><time>September 2016</time></dd>

				<dt>Relationship: Separated</dt>
				<dd><time>October 2016</time></dd>

				<dt>Abuse starts</dt>
				<dd><time>November 2016</time></dd>
				<dd class="abuse-physical">Physical abuse</dd>
				<dd class="abuse-financial">Financial abuse</dd>

				<dt>Continued abuse</dt>
				<dd><time>December 2016</time></dd>
				<dd class="abuse-financial">Financial abuse</dd>

				<dt>Continued abuse</dt>
				<dd><time>January 2016</time></dd>
				<dd class="abuse-physical">Physical abuse</dd>
				<dd class="abuse-financial">Financial abuse</dd>

				<dt>Custody hearing</dt>
				<dd><time>February 2016</time></dd>
			</dl>
		</section>

		<section class="now">
			<h3>Present</h3>
			<dl>
				<dt>Have you had legal advice?</dt>
				<dd class="questions">
					<ul class="choices compact">
						<li><input type="radio" name="legal-advice" id="legal-advice-true"  value="true"  /> <label for="legal-advice-true">Yes</label></li>
						<li><input type="radio" name="legal-advice" id="legal-advice-false" value="false" /> <label for="legal-advice-false">No</label></li>
					</ul>
				</dd>

				<dt style="clear: both">Application for Protection Order</dt>
				<dd><time>February 2016</time></dd>
			</dl>
		</section>

		<section class="future">
			<h3>Future</h3>
			<dl>
				<dt>Lodge application</dt>
				<dd>No applications Monday 2 May (Public Holiday)</dd>
				<dd><time>Tuesday 3 May 2016,<br>8:30am–4:30pm</time></dd>
				<dd>Caboolture Magistrates Court<br>
					30 King Street<br>
					CABOOLTURE  QLD  4510</dd>
				<dd><a href="http://www.qld.gov.au/law/court/courts/courthouse-locations/?location=caboolture">Change location</a></dd>

				<dt>Urgent protection</dt>
				<dd><time>Tuesday 3 May 2016</time></dd>

				<dt>Court mention</dt>
				<dd>Tentative: <time>Tuesday 31 May 2016</time></dd>
				<dd>Your safety at court</dd>

				<dt>Adjournment?</dt>
				<dd>Delay?</dd>
				<dd><time>28 June 2016?</time></dd>

				<dt>Court hearing</dt>
				<dd>Delay?</dd>
				<dd><time>28 June 2016?</time></dd>

				<dt>Protection order issued</dt>
				<dd>If the Magistrate decides in your favour</dd>
				<dd><time>May? June? 2016</time></dd>
				<dd>Only valid in Queensland</dd>
				<dd>Lasts up to 2 years</dd>
			</dl>
		</section>
	</form>




<div id="scripts">
<script type="text/javascript" src="https://static.qgov.net.au/assets/v2/script/loader.js"></script>
<script type="text/javascript" src="https://static.qgov.net.au/assets/v2/script/init.js"></script>
</div>

</body>
</html>
