<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-AU" lang="en-AU">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Apply for a protection order | Your rights, crime and the law | Queensland Government</title>


	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width">

	<!--[if (lt IE 9)|(gt IE 10) ]><link href="//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css"><![endif]-->
	<!--[if !IE]><!--><link href="//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css"><!--<![endif]-->
	<link rel="stylesheet" type="text/css" href="https://static.qgov.net.au/assets/v2/style/qgov.css" media="all">
	<!--[if lt IE 9]><link rel="stylesheet" href="https://static.qgov.net.au/assets/v2/style/qgov-ie.css" type="text/css" media="all"><![endif]-->
	<!-- layout-small is assumed by default (combined with qgov.css) -->
	<link href="https://static.qgov.net.au/assets/v2/style/layout-medium.css" media="only all and (min-width: 640px) and (max-width: 980px)" rel="stylesheet" type="text/css">
	<link href="https://static.qgov.net.au/assets/v2/style/layout-large.css" media="only all and (min-width: 980px)" rel="stylesheet" type="text/css">
	<link href="https://static.qgov.net.au/assets/v2/style/jquery-ui-qgov.css" media="all" rel="stylesheet" type="text/css">

	<link rel="shortcut icon" href="https://static.qgov.net.au/assets/v2/images/skin/favicon.ico">
	<meta prefix="og:http://ogp.me/ns#" property="og:image" content="https://static.qgov.net.au/assets/v2/images/skin/qg-coa-ogp.png">

<!-- PUT CUSTOM STYLES HERE -->
<link rel="stylesheet" href="assets/beta.css">
<link rel="stylesheet" href="assets/documents.css">
<link rel="stylesheet" href="http://bboyle.github.io/quick-exit/dist/quick-exit.min.css">

<!-- Grab Google CDN's jQuery. Fall back to local copy if necessary -->
<!--[if gt IE 8]><!-->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript"><!-- //
	!window.jQuery && document.write(unescape('%3Cscript src="https://static.qgov.net.au/assets/v2/script/jquery-2.1.3.min.js"%3E%3C/script%3E'));
// --></script>
<!--<![endif]-->
<!--[if lt IE 9]>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">!window.jQuery && document.write(unescape('%3Cscript src="https://static.qgov.net.au/assets/v2/script/jquery-1.11.2.min.js"%3E%3C/script%3E'));</script>
<![endif]-->

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script type="text/javascript"><!-- //
	window.jQuery && !window.jQuery.ui && document.write(unescape('%3Cscript src="https://static.qgov.net.au/assets/v2/script/jquery-ui-1.11.2-min.js"%3E%3C/script%3E'));
// --></script>
<script type="text/javascript" src="https://static.qgov.net.au/assets/v2/script/qgov-environment.js" id="qgov-environment"></script>
<!--[if lt IE 9]>
<script type="text/javascript">document.createElement('abbr');document.createElement('time');</script>
<script type="text/javascript" src="https://static.qgov.net.au/assets/v2/script/ie-layout.js"></script>
<![endif]-->

<!-- PUT CUSTOM SCRIPTS THAT CANNOT BE DEFERRED HERE (see footer) -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.min.js"></script>
<script src="assets/dvDocumentApp.js"></script>
<script src="assets/dvDocumentSafety.js"></script>



	<meta name="description" content="Step-by-step guide to apply for protection from domestic violence.">
	<meta name="keywords" content="protection, abuse, family violence, restraining order, protection order, violence intervention order, apprehended violence order">

	<link rel="schema.DCTERMS" href="http://purl.org/dc/terms/">
	<link rel="schema.AGLSTERMS" href="http://www.agls.gov.au/agls/terms/">

	<meta name="DCTERMS.creator" scheme="AGLSTERMS.GOLD" content="c=AU; o=The State of Queensland; ou=Department of Justice and Attorney-General; ou=Justice Services">
	<meta name="DCTERMS.publisher" scheme="AGLSTERMS.AglsAgent" content="corporateName=The State of Queensland; jurisdiction=Queensland">
	<meta name="DCTERMS.created" content="2016-02-18">
	<meta name="DCTERMS.modified" content="2016-02-18">
	<meta name="DCTERMS.title" content="Apply for a protection order | Your rights, crime and the law">
	<meta name="DCTERMS.description" content="Step-by-step guide to apply for protection from domestic violence.">
	<meta name="DCTERMS.subject" scheme="AGLSTERMS.APAIS" content="Domestic Violence">
	<meta name="AGLSTERMS.function" scheme="AGLSTERMS.AGIFT" content="JUSTICE ADMINISTRATION - Human rights obligations">
	<meta name="DCTERMS.type" scheme="DCTERMS.DCMIType" content="Text">
	<meta name="AGLSTERMS.documentType" scheme="AGLSTERMS.agls-document" content="form">
	<meta name="DCTERMS.audience" scheme="AGLSTERMS.agls-audience" content="women; Aboriginal and Torres Strait Islanders; seniors; migrants; men; Queensland">
	<meta name="DCTERMS.jurisdiction" scheme="AGLSTERMS.AglsJuri" content="Queensland">
</head>

<body ng-app="dvDocumentApp" ng-init="beta = true;" ng-class="{ beta: beta }">


<div id="quick-exit" data-accesskey="Esc" title="www.google.com"><a target="_top" href="https://www.google.com/" data-accesskey="Esc">Quick exit ➟</a></div>
<script src="http://bboyle.github.io/quick-exit/dist/quick-exit.min.js"></script>


	<header class="beta-warning" ng-click="beta = false">
		<strong>Under construction</strong>.
		If you require assistance with domestic violence in Queensland please visit <a href="http://www.qld.gov.au/community/getting-support-health-social-issue/domestic-family-violence/">http://www.qld.gov.au/community/getting-support-health-social-issue/domestic-family-violence/</a>

		(<button type="button" ng-click="beta = false">Close this message</button>)
	</header>


	<div id="layout">
	<form id="documents">
		<h2>Documents</h2>
		<section>
			<h3>Protection order application</h3>
			<ul>
				<li>
					<button ng-click="document = 'f1'">
						<figure>
							<img src="assets/thumbs/dva-f1.png" alt="" />
							<figcaption>Application form</figcaption>
						</figure>
					</button>
				</li>
				<li>
					<button ng-click="document = 'f-aggrieved'">
						<figure>
							<img src="assets/thumbs/dva-f-aggrieved.png" alt="" />
							<figcaption>Confidential address form</figcaption>
						</figure>
					</button>
				</li>
				<li>
					<button ng-click="document = 'f-safety'">
						<figure>
							<img src="assets/thumbs/dva-f-safety.png" alt="" />
							<figcaption>Safety form</figcaption>
						</figure>
					</button>
				</li>
			</ul>
		</section>

		<section>
			<h3>Attachment: Evidence</h3>
			TODO detailed description of why you need protection
		</section>

		<section>
			<h3>Attachment: Other orders</h3>
			TODO attach copies of any past orders
			- use checkboxes for each type of order Y/N/NA/Attached
		</section>

		<footer>
			<p>Take all documents on this checklist to your Magistrates Court and lodge your application.</p>
			<p>If you require urgent protection, ask for a <cite>Temporary Protection Order</cite>.</p>
		</footer>
	</form>

	<div id="article-container">
		<article id="dva-f1" ng-show="document === 'f1'">
			<h1>TODO: DVA F1</h1>
		</article>

		<article id="dva-f-aggrieved" ng-show="document === 'f-aggrieved'">
			<h1>TODO: Confidential details form</h1>
		</article>

		<article class="dva-f-safety" ng-show="document === 'f-safety'"></article>
	</div>
</div>


<div id="scripts">
<script type="text/javascript" src="https://static.qgov.net.au/assets/v2/script/loader.js"></script>
<script type="text/javascript" src="https://static.qgov.net.au/assets/v2/script/init.js"></script>
</div>

</body>
</html>
