<div>
	<h1>Domestic violence aggrieved <strong>confidential</strong> address form</h1>

	<p>Use this form if you (the aggrieved) do NOT wish the person you are seeking
	a domestic violence order against to know your address and contact details.</p>

	<form>
		<ol class="questions">
			<li>
				<fieldset>
					<legend>
						<span class="label">Your confidental details</span>
					</legend>
					<ol class="questions">
						<li class="group atomic">
							<fieldset>
								<legend>
									<span class="label">Your name</span>
								</legend>
								<ol class="questions compact">
									<li>
										<label for="aggrieved-name-family">
											<span class="label">Last name</span>
										</label>
										<input type="text" id="aggrieved-name-family" ng-model="aggrieved.name.family">
									</li>
									<li>
										<label for="aggrieved-name-given">
											<span class="label">Given names</span>
										</label>
										<input type="text" id="aggrieved-name-given" ng-model="aggrieved.name.given">
									</li>
								</ol>
							</fieldset>
						</li>
						<li>
							<label for="aggrieved-address">
								<span class="label">Address</span>
							</label>
							<textarea id="aggrieved-address" ng-modal="aggrieved.contact.address" cols="40" rows="3"></textarea>
						</li>
						<li>
							<label for="aggrieved-phone">
								<span class="label">Contact telephone number</span>
							</label>
							<input type="tel" id="aggrieved-phone" ng-modal="aggrieved.contact.tel" size="20" />
						</li>
					</ol>
				</fieldset>
			</li>
		</ol>
	</form>

	<footer class="status warn">
		<h2>Confidential</h2>
		<p>The above information is for court staff and police purposes only.</p>
		<p><strong>NOT TO BE GIVEN TO THE RESPONDENT</strong></p>
	</footer>
</div>
