<h2>Legal terms</h2>
<p>Meaning of terms in the application form for a protection order.</p>
<dl>
	<dt>Aggrieved</dt>
	<dd>The person who needs protection.</dd>

	<dt>Applicant</dt>
	<dd>The person applying for a protection order – this can be the aggrieved or another person who can apply on the aggrieved’s behalf.</dd>

	<dt>child, relative or associate named on the protection order</dt>
	<dd>A person also covered by the protection order.</dd>

	<dt>Domestic Violence Order</dt>
	<dd>A protection order or a temporary protection order.</dd>

	<dt>Grounds (for a protection order)</dt>
	<dd>Reasons for the application for a protection order</dd>

	<dt>Ouster Order</dt>
	<dd>An order made by a court stating the respondent must move out of a house or dwelling.</dd>

	<dt>Protection Order</dt>
	<dd>An order made by a court imposing conditions on the respondent.</dd>

	<dt>Respondent</dt>
	<dd>The person you apply to be protected from.</dd>

	<dt>Serve</dt>
	<dd>To deliver or give the application or order to the respondent.</dd>

	<dt>Temporary Protection Order</dt>
	<dd>An order made in the period before a court decides whether to make a protection order.</dd>
</dl>
