<option value="Female"></option>
<option value="Male"></option>
<option value="Man"></option>
<option value="Woman"></option>
<option value="Transgender"></option>
<option value="Transsexual"></option>
<option value="Genderqueer"></option>
<option value="Non-gendered"></option>
<option value="Agender"></option>
<option value="Genderless"></option>
<option value="Non-binary"></option>
<option value="Trans Man"></option>
<option value="Trans Woman"></option>
<option value="Third Gender"></option>
<option value="Two-Spirit"></option>
<option value="Bi-Gender"></option>
<option value="Genderfluid"></option>
<option value="Transvestite"></option>
