/* master layout */
body {
	margin-bottom: 5em; /* simulated footer */
}

/* animate relevance */
ol.questions > li {
	transform-origin: 0 0;
}
div.status.ng-hide,
ol.questions > li.ng-hide {
	transform: scaleY(0);
	opacity: 0;
}
div.status.ng-hide-remove,
div.status.ng-hide-remove-active,
ol.questions > li.ng-hide-remove,
ol.questions > li.ng-hide-remove-active {
	will-change: opacity, transform;
	transition:
		opacity .5s ease-out,
		transform .3s ease;
}


/* process nav */
nav {
	position: fixed;
	left: 0;
	padding: 2em;
	max-width: 25%;
}
nav > h2 {
	margin-top: 0;
}
nav ol {
	list-style: decimal;
}
nav ol button {
	border: none;
	background: transparent;
	text-align: left;
}
nav ol button:hover,
nav ol button:focus {
	color: rebeccapurple;
	text-decoration: underline;
}
nav ol button[disabled]:hover,
nav ol button[disabled]:focus,
nav ol button[disabled] {
	cursor: text;
	color: #aaa;
	text-decoration: none;
}

/* telephone links */
a[href^="tel:"] {
	text-decoration: none;
	white-space: nowrap;
	color: #639; /* rebeccapurple */
}
a[href^="tel:"]::before {
	content: "(☎) ";
}

.language-chooser button {
	font-weight: normal;
}

/* add/del buttons */
.add, .del {
	padding-top: .5em;
	padding-bottom: .5em;
	font-size: 80%;
}
